:root {
    /* fonts */
    --body-1: Inter;
  
    /* font sizes */
    --body-1-size: 24px;
    --heading-2-size: 48px;
  
    /* Colors */
    --color-gray-100: rgba(255, 255, 255, 0.9);
    --color-white: #fff;
  
    /* Gaps */
    --gap-29xl: 48px;
    --gap-5xl: 24px;
    --gap-base: 16px;
  
    /* Border radiuses */
    --br-138xl-5: 157.5px;
    --br-381xl: 400px;
    --br-881xl: 900px;
  }
  
  .frame-child {
    position: absolute;
    margin: 0 !important;
    top: 290px;
    left: 504px;
    border-radius: var(--br-881xl);
    background: linear-gradient(180deg, #b79d11, rgba(148, 106, 76, 0));
    width: 371px;
    height: 362px;
    opacity: 0.22;
    z-index: 0;
  }
  
  .follow-us-on {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .image-58-icon {
    position: relative;
    width: 247px;
    height: 80.86px;
    object-fit: cover;
  }
  
  .follow-us-on-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-5xl);
  }
  
  @media (min-width: 1000px) and (max-width: 1510px) {
    .follow-us-on-parent {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: var(--gap-5xl);
      margin-left: 24rem;
    }
  }
  
  .for-buyers {
    position: relative;
  }

.ForBuyers{
  margin-left: 18px;
}



@media (min-width: 1000px) and (max-width: 1510px) {
  .ForBuyersPolicy{
    margin-left: 68px;
  }
}



  
  .post-your-requirement {
    position: relative;
    display: inline-block;
    width: 209.2px;
  }
  
  .our-buyers-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
    opacity: 0.75;
  }
  
  .for-buyers-parent {
    flex-direction: column;
    gap: var(--gap-5xl);
  }
  
  /* @media (min-width: 1000px) and (max-width: 1510px) {
    .for-buyers-parent {
      flex-direction: column;
 
      font-size: 18px;
      margin-left: 0.1rem;
      border: 2px solid red;
    }
  } */
  
  .for-buyers-parent,
  .frame-group,
  .frame-wrapper,
  .our-buyers-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .frame-wrapper {
    /* flex-direction: column; */
    opacity: 0.8;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid green; */
  }
  

  @media (min-width: 1200px) and (max-width: 1390px) {
    .frame-wrapper {
      display: flex;
     flex-wrap: wrap;
      opacity: 0.8;
      width: 100%;
      /* border: 1px solid green; */
      margin-left: 24rem;
      font-size: 18px;
    }
  }

  @media (min-width: 1000px) and (max-width: 1510px) {
    .frame-wrapper {
      display: flex;
     flex-wrap: wrap;
      opacity: 0.8;
      width: 100%;
      /* border: 1px solid green; */
      margin-left: 24rem;
      font-size: 18px;
    }
  }
  
  
  .frame-group,
  .our-buyers-group {
    align-self: stretch;
  }
  
  .our-buyers-group {
    flex-direction: column;
    gap: var(--gap-base);
    opacity: 0.75;
  }
  
  .frame-group {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-29xl);
    font-size: var(--body-1-size);
    color: var(--color-white);
  }
  
  @media (min-width: 1000px) and (max-width: 1510px) {
    .frame-group {
      flex-direction: row;
      flex-wrap: wrap; 

    }
  }
  
  .copyright-2015-2023 {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.24);
  }
  
  @media (min-width: 1000px) and (max-width: 1510px) {
    .copyright-2015-2023 {
      align-self: stretch;
      position: relative;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.24);
      margin-left: 24rem;
      margin-top: -2rem;
    }
    
  }
  
  .frame-parent-One {
    width: 57%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: var(--gap-29xl);
    z-index: 1;
    margin-left: 55rem;
    margin-top: 0rem;
    overflow: hidden;
  
  }
  
  .frame-item-two {
    position: absolute;
    top: 431px;
    left: 0;
    border-radius: var(--br-881xl) 0 var(--br-881xl) var(--br-881xl);
    background: linear-gradient(180deg, #944c66, rgba(9, 2, 7, 0));
    width: 257px;
    height: 251px;
    opacity: 0.38;
  }
  
  @media (min-width: 1000px) and (max-width: 1510px) {
    .frame-item-two {
      position: absolute;
      top: 331px;
      left: 0;
      border-radius: var(--br-881xl) 0 var(--br-881xl) var(--br-881xl);
      background: linear-gradient(180deg, #944c66, rgba(9, 2, 7, 0));
      width: 257px;
      height: 251px;
      opacity: 0.38;
    }
  }
  
  
  .your-gateway-to {
    position: relative;
    display: inline-block;
    width: 356px;
  }
  
  .indias-largest-marketplace {
    align-self: stretch;
    position: relative;
    font-size: var(--body-1-size);
    color: rgba(255, 255, 255, 0.6);
  }
  
  .your-gateway-to-celebrity-ench-parent {
    position: absolute;
    top: calc(50% - 139.5px);
    left: calc(50% - 178.5px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-29xl);
  }
  
  
  @media (min-width: 1000px) and (max-width: 1510px) {
    .your-gateway-to-celebrity-ench-parent {
      position: absolute;
      top: calc(50% - 139.5px);
      left: calc(50% - 178.5px);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: var(--gap-29xl);
    }
  }
  
  
  .frame-inner {
    position: absolute;
    top: -92px;
    left: 0;
    border-radius: 0 0 0 var(--br-881xl);
    background: linear-gradient(180deg, #70944c, rgba(112, 148, 76, 0));
    width: 257px;
    height: 251px;
    display: none;
  }
  
  .rectangle-group {
    position: absolute;
    margin: 0 !important;
    bottom: 79.86px;
    left: 17px;
    top: -90px;
    border-radius: 0 var(--br-381xl) var(--br-381xl) var(--br-381xl);
    background-color: rgba(11, 16, 37, 0.3);
    box-shadow: 0 62px 68px rgba(0, 0, 0, 0.93) inset;
    backdrop-filter: blur(90px);
    width: 645px;
    height: 645px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 2;
    font-size: var(--heading-2-size);
  }
  
  .rectangle-parent {
    position: relative;
    border-radius: 157.54px 157.54px 0 0;
    background: linear-gradient(96.51deg,
        rgba(24, 24, 41, 0),
        #22223a 57.29%,
        rgba(24, 24, 41, 0));
    width: 100%;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 80px 120px;
    box-sizing: border-box;
    gap: var(--gap-29xl);
    text-align: left;
    font-size: 32px;
    color: var(--color-gray-100);
    font-family: var(--body-1);
  
  }
  
  @media (max-width: 767px) {
    .rectangle-parent {
   display: none;
    }
  }
  
  
  @media (min-width: 1000px) and (max-width: 1510px) {
    .rectangle-parent {
      position: relative;
      border-radius: 157.54px 157.54px 0 0;
      background: linear-gradient(96.51deg,
          rgba(24, 24, 41, 0),
          #22223a 57.29%,
          rgba(24, 24, 41, 0));
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      padding: 80px 120px;
      box-sizing: border-box;
      gap: var(--gap-29xl);
      text-align: left;
      font-size: 32px;
      color: var(--color-gray-100);
      font-family: var(--body-1);
    
    }
  }
  
  
  
  
  
  @media (min-width: 1000px) and (max-width: 1510px) {
    .rectangle-group {
      position: absolute;
      margin: 0 !important;
      bottom: 79.86px;
      left: 50px;
      top: -90px;
      border-radius: 0 var(--br-381xl) var(--br-381xl) var(--br-381xl);
      background-color: rgba(11, 16, 37, 0.3);
      box-shadow: 0 62px 68px rgba(0, 0, 0, 0.93) inset;
      backdrop-filter: blur(90px);
      width: 420px;
      height: 420px;
      overflow: hidden;
      flex-shrink: 0;
      z-index: 2;
      font-size: var(--heading-2-size);
    }
  }
  
  
  @media (min-width: 1000px) and (max-width: 1510px) {
    .your-gateway-to {
      position: relative;
      display: inline-block;
      width: 266px;
      font-size: 2.205vw;
      color: rgb(162, 157, 157);
    }
  }
  
  
  @media (min-width: 1000px) and (max-width: 1510px) {
    .indias-largest-marketplace {
      align-self: stretch;
      position: relative;
      width: 98%;
      font-size: var(--body-1-size);
      color: rgba(255, 255, 255, 0.6);
    }
  }
  
  @media (min-width: 1000px) and (max-width: 1510px) {
    .frame-child {
      position: absolute;
      margin: 0 !important;
      top: 180px;
      left: 390px;
      border-radius: var(--br-881xl);
      background: linear-gradient(180deg, #b79d11, rgba(148, 106, 76, 0));
      width: 271px;
      height: 262px;
      opacity: 0.22;
      z-index: 0;
      /* border: 1px solid green; */
    }
  }
  
  @media (min-width: 1000px) and (max-width: 1515px) {
    .frame-parent-One {
      width: 100%;
      height: 800px;
      display: flex;
      /* border: 2px solid red; */
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      gap: var(--gap-29xl);
      z-index: 1;
    
      margin-top: -3.5rem;
      /* overflow: hidden; */
    }
    
  }
  
  .indias-largest-marketplaceFooter,
  .your-gateway-toFooter {
    position: relative;
    display: inline-block;
    width: 324.42px;
  }
  .indias-largest-marketplaceFooter {
    font-size: var(--font-size-sm);
  }
  .your-gateway-to-celebrity-ench-parentFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .image-58-iconFooter {
    position: relative;
    width: 149.67px;
    height: 49px;
    object-fit: cover;
  }
  .follow-us-on-parentFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-5xs);
    font-size: var(--font-size-sm);
  }
  .for-buyersFooter {
    text-transform: capitalize;
  }
  .for-buyersFooter,
  .our-buyersFooter {
    position: relative;
  }
  .post-your-requirementFooter {
    align-self: stretch;
    position: relative;
  }
  .our-buyers-parentFooter {
    gap: var(--gap-5xs);
    font-size: var(--font-size-sm);
  }
  .for-buyers-parentFooter,
  .frame-wrapperFooter,
  .our-buyers-parentFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .for-buyers-parentFooter {
    gap: var(--gap-13xl);
  }
  .frame-wrapperFooter {
    flex: 1;
    opacity: 0.8;
  }
  .frame-groupFooter,
  .our-buyers-groupFooter {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
  }
  .our-buyers-groupFooter {
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    font-size: var(--font-size-sm);
  }
  .frame-groupFooter {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    font-size: var(--font-size-mid);
    color: var(--color-white);
  }
  .copyright-2015-2023Footer {
    position: relative;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.24);
    display: inline-block;
    width: 324.42px;
  }
  .frame-parentFooter {
    position: relative;
    border-radius: var(--br-13xl) var(--br-13xl) 0 0;
    background-color: #0b0b13;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 32px 24px;
    box-sizing: border-box;
    gap: 48px;
    text-align: left;
    font-size: 32px;
    color: var(--color-gray-100);
    font-family: var(--font-inter);
  }
  
  
  :root {
    /* fonts */
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-sm: 14px;
    --font-size-mid: 17px;
  
    /* Colors */
    --color-gray-100: rgba(255, 255, 255, 0.9);
    --color-white: #fff;
  
    /* Gaps */
    --gap-13xl: 32px;
    --gap-5xs: 8px;
  
    /* Border radiuses */
    --br-13xl: 32px;
  }
  