.frame-childCareerOne,
.frame-item {
    position: absolute;
    overflow: hidden;
}

.frame-childCareerOne {
    top: calc(50% - 492px);
    left: calc(50% - 593.5px);
    border-radius: 9935.28px;
    width: 75.69rem;
    height: 75.69rem;
    /* border: 2px solid red; */
    /* opacity: 0.7; */
    background: linear-gradient(152.18deg,
            rgba(164, 150, 253, 0.29),
            rgba(96, 67, 143, 0.29) 48.23%,
            rgba(8, 8, 16, 0.29));
}

.frame-itemCareerOne {
    bottom: 20.36rem;
    left: 91.53rem;
    border-radius: 900px;
    background: linear-gradient(152.18deg,
            rgba(164, 150, 253, 0.29),
            rgba(96, 67, 143, 0.29) 48.23%,
            rgba(8, 8, 16, 0.29));
    width: 10.39rem;
    height: 10.76rem;
    transform: rotate(125.18deg);
    transform-origin: 0 0;
    opacity: 0.61;
}

.elevateCareerOne {
    margin: 0;
}

.excelCareerOne {
    font-family: var(--mob-h1);
}

.elevate-explore-containerCareerOne,
.join-us-andCareerOne {
    position: relative;
    display: inline-block;
    width: 52.56rem;

}

.join-us-andCareerOne {
    width: 57.44rem;

}

.join-us-and-be-a-part-of-a-tea-wrapperCareerOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 0;
    text-align: center;
    font-size: var(--body-1-size);
}

.frame-innerCareerOne {
    position: relative;
    width: 0.92rem;
    height: 2.36rem;
}

.vector-wrapperCareerOne {
    border-radius: 42.33px;
    background: linear-gradient(180deg,
            rgba(21, 94, 135, 0.9),
            rgba(14, 18, 19, 0));
    width: 4.31rem;
    height: 4.31rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.42rem 0.85rem;
    box-sizing: border-box;
    z-index: 1;
}

.inclusive-workplaceCareerOne {
    position: relative;
}

.fun-creative-wrapperCareerOne,
.inclusive-workplace-wrapperCareerOne {
    margin: 0 !important;
    position: absolute;
    top: -8.06rem;
    left: -1.74rem;
    border-radius: 165.97px;
    background: linear-gradient(102.14deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.1) 58.62%,
            rgba(255, 255, 255, 0));
    backdrop-filter: blur(48.13px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem 3.5rem;
    transform: rotate(8.25deg);
    transform-origin: 0 0;
    z-index: 2;
}

.fun-creative-wrapperCareerOne {
    top: -15.4rem;
    left: 35.5rem;
    border-radius: 137.06px;
    backdrop-filter: blur(24.33px);
    padding: 1.03rem 3.85rem;
    transform: rotate(-19.5deg);
    z-index: 3;
}

.elevate-explore-excel-parentCareerOne,
.frame-groupCareerOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.frame-groupCareerOne {
    position: relative;
    gap: 3.5rem;
    text-align: left;
    font-size: var(--mob-h1-size);
}

.elevate-explore-excel-parentCareerOne {
    position: absolute;
    top: calc(50% - 263px);
    left: calc(50% - 476.5px);
    gap: 5rem;

}

.frame-parentCareerOne {
    position: relative;
    width: 100%;
    height: 50rem;
    overflow: hidden;
    text-align: center;
    font-size: 6.5rem;
    color: var(--color-white);
    font-family: var(--mob-h1);

}

body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --mob-h1: Inter;

    /* font sizes */
    --mob-h1-size: 2rem;
    --body-1-size: 1.5rem;

    /* Colors */
    --color-white: #fff;
}


/* second component */

.frame-childCareerTwo {
    position: absolute;
    top: calc(50% - 540px);
    left: calc(50% - 960px);
    width: 122.94rem;
    height: 122.94rem;
    overflow: hidden;
    opacity: 0.7;
    background: linear-gradient(142deg, rgba(202, 150, 253, 0.80) -5.52%, rgba(67, 79, 143, 0.80) 42.64%, rgba(37, 41, 44, 0.80) 94.33%);

    filter: blur(78px);
    ;
}

.elevateCareerTwo {
    margin: 0;
}

.excelCareerTwo {
    font-family: var(--body-1);
}

.elevate-explore-containerCareerTwo,
.join-us-andCareerTwo {
    position: relative;
    display: inline-block;
    width: 61.56rem;
}

.join-us-andCareerTwo {
    width: 57.44rem;
}

.join-us-and-be-a-part-of-a-tea-wrapperCareerTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 0;
    text-align: center;
    font-size: var(--body-1-size);
}

.frame-itemCareerTwo {
    position: relative;
    width: 2.3rem;
    height: 0;
}

.vector-wrapperCareerTwo {
    border-radius: 42.33px;
    background: linear-gradient(180deg,
            rgba(21, 94, 135, 0.9),
            rgba(14, 18, 19, 0));
    width: 4.31rem;
    height: 4.31rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.42rem 0.85rem;
    box-sizing: border-box;
    z-index: 1;
}

.inclusive-workplaceCareerTwoCareerTwo {
    position: relative;
}

.fun-creative-wrapperCareerTwo,
.inclusive-workplace-wrapperCareerTwo {
    margin: 0 !important;
    position: absolute;
    top: -6.69rem;
    left: -14.48rem;
    border-radius: 239.14px;
    background: linear-gradient(102.14deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.1) 58.62%,
            rgba(255, 255, 255, 0));
    filter: blur(19px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.44rem 5.04rem;
    transform: rotate(8.25deg);
    transform-origin: 0 0;
    opacity: 0;
    z-index: 2;
}

.fun-creative-wrapperCareerTwo {
    top: -17.26rem;
    left: 39.17rem;
    border-radius: 197.48px;
    padding: 1.48rem 5.55rem;
    transform: rotate(-19.5deg);
    z-index: 3;
}

.elevate-explore-excel-parentCareerTwo,
.frame-groupCareerTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.frame-groupCareerTwo {
    position: relative;
    gap: 3.5rem;
    text-align: left;
    font-size: 2.88rem;
}

.elevate-explore-excel-parentCareerTwo {
    position: absolute;
    top: calc(50% - 263px);
    left: calc(50% - 477px);
    gap: 5rem;
    opacity: 0;
}

.ellipse-divCareerTwo,
.frame-child1CareerTwo,
.frame-innerCareerTwo {
    position: absolute;
    height: 98.44%;
    width: 92.38%;
    top: 1.41%;
    right: 3.29%;
    bottom: 0.15%;
    left: 4.34%;
    border-radius: 50%;
    border: 2px solid var(--color-gray-100);
    box-sizing: border-box;
}

.ellipse-divCareerTwo,
.frame-child1CareerTwo {
    height: 80.13%;
    width: 75.19%;
    top: 10.61%;
    right: 11.85%;
    bottom: 9.26%;
    left: 12.96%;
    border: 2px dashed var(--color-gray-100);
}

.frame-child1CareerTwo {
    height: 53.1%;
    width: 49.83%;
    top: 24.13%;
    right: 24.52%;
    bottom: 22.77%;
    left: 25.65%;
    border: 2px solid var(--color-gray-100);
}

.frame-child2CareerTwo,
.frame-divCareerTwo {
    position: absolute;
    height: 9.3%;
    width: 8.73%;
    top: 25.18%;
    right: 31.54%;
    bottom: 65.52%;
    left: 59.74%;
    border-radius: 85.29px;
    background-color: var(--color-gray-500);
    backdrop-filter: blur(45.59px);
    overflow: hidden;
}

.frame-child2CareerTwo {
    top: 41.5%;
    right: 91.27%;
    bottom: 49.2%;
    left: 0;
}

.at-pune-andCareerTwo {
    color: var(--color-gray-200);
}

.hugeCareerTwo {
    color: var(--color-gray-300);
}

.for-this-wonderfulCareerTwo {
    color: var(--color-gray-400);
}

.perfectly-organized-event-containerCareerTwo {
    position: relative;
    display: inline-block;
    width: 1.38rem;
    flex-shrink: 0;
}

.perfectly-organized-event-at-p-wrapperCareerTwo {
    position: absolute;
    height: 0.74%;
    width: 2.36%;
    top: 9.53%;
    right: 46.84%;
    bottom: 89.72%;
    left: 50.8%;
    border-radius: 2.43px;
    background-color: var(--color-gray-500);
    backdrop-filter: blur(3.28px);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.09rem 0.12rem;
    box-sizing: border-box;
}

.perfectly-organized-event-container1CareerTwo {
    position: relative;
    display: inline-block;
    width: 4.54rem;
    flex-shrink: 0;
}

.frame-child3CareerTwo,
.perfectly-organized-event-at-p-containerCareerTwo {
    position: absolute;
    background-color: var(--color-gray-500);
    overflow: hidden;
}

.perfectly-organized-event-at-p-containerCareerTwo {
    height: 2.44%;
    width: 7.77%;
    top: 41.28%;
    right: 60.63%;
    bottom: 56.28%;
    left: 31.6%;
    border-radius: 8.03px;
    backdrop-filter: blur(10.82px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.28rem 0.39rem;
    box-sizing: border-box;
    opacity: 0;
    font-size: 0.26rem;
}

.frame-child3CareerTwo {
    height: 14.16%;
    width: 13.2%;
    top: 0;
    right: 43.45%;
    bottom: 85.84%;
    left: 43.36%;
    border-radius: 73.53px 73.53px 73.53px 0;
    backdrop-filter: blur(45.59px);
}

.rectangle-divCareerTwo {
    position: relative;
    border-radius: var(--br-45xl-7);
    background: linear-gradient(142.16deg,
            rgba(255, 253, 253, 0.36),
            rgba(150, 253, 191, 0.8),
            rgba(89, 143, 67, 0.8) 48.23%,
            rgba(37, 41, 44, 0.8) 99.42%);
    width: 9.47rem;
    height: 0.55rem;
}

.rectangle-wrapperCareerTwo {
    border-radius: var(--br-45xl-7);
    background-color: var(--color-gray-600);
    backdrop-filter: blur(45.59px);
    width: 16.27rem;
    padding: 0.09rem;
    box-sizing: border-box;
}

.more-talent-wanted-parentCareerTwo,
.rectangle-wrapperCareerTwo,
.sales-team-parentCareerTwo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sales-team-parentCareerTwo {
    gap: 0.38rem;
    font-size: var(--body-1-size);
}

.more-talent-wanted-parentCareerTwo {
    position: absolute;
    width: 26.75%;
    top: calc(50% - 259.8px);
    right: 71.56%;
    left: 1.7%;
    border-radius: 11.76px;
    background: linear-gradient(89.37deg,
            rgba(255, 255, 255, 0),
            rgba(122, 207, 120, 0.13) 45.58%,
            rgba(255, 255, 255, 0));
    backdrop-filter: blur(58.82px);
    overflow: hidden;
    padding: 0.5rem 0.75rem;
    box-sizing: border-box;
    gap: 0.88rem;
    font-size: 0.88rem;
}

.design-teamCareerTwo {
    position: relative;
    font-size: var(--body-1-size);
}

.frame-child4CareerTwo {
    position: relative;
    border-radius: var(--br-45xl-7);
    background: linear-gradient(143.05deg,
            rgba(255, 253, 253, 0.4),
            rgba(255, 227, 226, 0.9),
            rgba(255, 121, 112, 0.9) 31.04%,
            rgba(248, 86, 148, 0.9) 60.21%,
            rgba(21, 18, 18, 0.9) 99.42%);
    width: 14.63rem;
    height: 0.56rem;
}

.more-talent-wanted-groupCareerTwo {
    position: absolute;
    height: 9.01%;
    width: 26.75%;
    top: 28.83%;
    right: -8.56%;
    bottom: 62.16%;
    left: 81.81%;
    border-radius: 11.76px;
    background: linear-gradient(184.93deg,
            rgba(255, 165, 178, 0.13),
            rgba(255, 255, 255, 0));
    backdrop-filter: blur(58.82px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.74rem;
    box-sizing: border-box;
    gap: 0.37rem;
    font-size: 0.75rem;
}

.design-mavericCareerTwo {
    position: relative;
    font-size: 1rem;
}

.design-maveric-wrapperCareerTwo,
.himanshu-jaina-parentCareerTwo {
    position: absolute;
    width: 17.72%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.himanshu-jaina-parentCareerTwo {
    height: 4.82%;
    top: 15.47%;
    right: 40.62%;
    bottom: 79.71%;
    left: 41.66%;
    justify-content: flex-start;
    font-size: var(--body-1-size);
}

.design-maveric-wrapperCareerTwo {
    top: calc(50% - 447.8px);
    right: 27.05%;
    left: 55.23%;
    border-radius: 900px;
    background: linear-gradient(93.15deg, #674c2c, #f69a2b 45.83%, #664c2c);
    justify-content: center;
    padding: 0.63rem 0;
    box-sizing: border-box;
    font-size: 1.13rem;
}

.ellipse-parentCareerTwo {
    position: absolute;
    top: 9.75rem;
    left: calc(50% - 531px);
    width: 66.31rem;
    height: 62.23rem;
    text-align: left;
    font-size: 0.08rem;
}

.frame-child5CareerTwo {
    position: absolute;
    bottom: -18.31rem;
    left: calc(50% + 956px);
    background: linear-gradient(180deg, #080810, rgba(8, 8, 16, 0));
    width: 119.56rem;
    height: 14.75rem;
    transform: rotate(-180deg);
    transform-origin: 0 0;
}

.frame-parentCareerTwo {
    position: relative;
    width: 100%;
    height: 50.5rem;
    overflow: hidden;
    text-align: center;
    font-size: 8rem;
    color: var(--color-white);
    font-family: var(--body-1);
}

body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --body-1: Inter;

    /* font sizes */
    --body-1-size: 1.5rem;
    --font-size-27xl-1: 2.88rem;

    /* Colors */
    --color-white: #fff;
    --color-gray-100: rgba(255, 255, 255, 0.29);
    --color-gray-200: rgba(255, 255, 255, 0.43);
    --color-gray-300: rgba(255, 255, 255, 0.4);
    --color-gray-400: rgba(255, 255, 255, 0.3);
    --color-gray-500: rgba(255, 255, 255, 0.19);
    --color-gray-600: rgba(255, 255, 255, 0.46);

    /* Paddings */
    --padding-11xs-5: 0.09rem;

    /* Border radiuses */
    --br-xs-8: 11.8px;
    --br-45xl-7: 64.7px;
    --br-54xl-5: 73.5px;
    --br-66xl-3: 85.3px;
}


/* Third component */
.frame-childCareerThree {
    position: absolute;
    top: 45rem;
    left: -0.94rem;
    border-radius: 1599.44px 1599.44px 1599.44px 0;
    background: linear-gradient(221.27deg,
            rgba(10, 45, 96, 0.39),
            rgba(0, 0, 0, 0.01));
    backdrop-filter: blur(100.62px);
    width: 38.78rem;
    height: 38.5rem;
    overflow: hidden;
    transform: rotate(-117.13deg);
    transform-origin: 0 0;
}

@media (min-width: 1000px) and (max-width: 1510px) {
    .frame-childCareerThree {
        position: absolute;
        top: 28rem;
        left: -0.94rem;
        border-radius: 1599.44px 1599.44px 1599.44px 0;
        background: linear-gradient(221.27deg,
                rgba(10, 45, 96, 0.39),
                rgba(0, 0, 0, 0.01));
        backdrop-filter: blur(100.62px);
        width: 25.78rem;
        height: 25.5rem;
        overflow: hidden;
        transform: rotate(-117.13deg);
        transform-origin: 0 0;
    }
}


.get-a-lookCareerThree {
    position: absolute;
    top: 10.5rem;
    left: calc(50% - 663px);
}

@media (min-width: 1000px) and (max-width: 1510px) {
    .get-a-lookCareerThree {
        position: absolute;
        top: 10.5rem;
        left: calc(80% - 663px);
        font-size: 32px;
        /* margin: auto; */
    }
}


.frame-innerCareerThree,
.frame-itemCareerThree {
    position: absolute;
    backdrop-filter: blur(100.62px);
    overflow: hidden;
    transform-origin: 0 0;
}

.frame-itemCareerThree {
    top: -4.06rem;
    left: 32.5rem;
    background: linear-gradient(221.27deg,
            rgba(174, 227, 88, 0.39),
            rgba(105, 142, 45, 0.01));
    width: 18.06rem;
    height: 17.93rem;
    transform: rotate(125.58deg);
}

@media (min-width: 1000px) and (max-width: 1510px) {
    .frame-itemCareerThree {
        top: -4.06rem;
        left: 32.5rem;
        background: linear-gradient(221.27deg,
                rgba(174, 227, 88, 0.39),
                rgba(105, 142, 45, 0.01));
        width: 18.06rem;
        height: 17.93rem;
        transform: rotate(125.58deg);
    }
}



.frame-innerCareerThree {
    top: -4.26rem;
    left: 44.5rem;
    border-radius: 1599.44px 1599.44px 1599.44px 0;
    background: linear-gradient(221.27deg,
            rgba(227, 155, 88, 0.39),
            rgba(0, 0, 0, 0.01));
    width: 26.08rem;
    height: 26.08rem;
    transform: rotate(90deg);
}

@media (min-width: 1000px) and (max-width: 1510px) {
    .frame-innerCareerThree {
        top: -4.26rem;
        left: 44.5rem;
        border-radius: 1599.44px 1599.44px 1599.44px 0;
        background: linear-gradient(221.27deg,
                rgba(227, 155, 88, 0.39),
                rgba(0, 0, 0, 0.01));
        width: 26.08rem;
        height: 26.08rem;
        transform: rotate(90deg);
    }
}



.bCareerThree,
.begin-your-journeyCareerThree,
.discover-your-stageCareerThree {
    position: absolute;
    transform: rotate(180deg);
    transform-origin: 0 0;
}

.bCareerThree {
    top: 10.63rem;
    left: 36.81rem;
}

@media (min-width: 1000px) and (max-width: 1510px) {
    .bCareerThree {
        top: 10.63rem;
        left: 15.81rem;
    }
}



.begin-your-journeyCareerThree,
.discover-your-stageCareerThree {
    left: 37.56rem;
}

@media (min-width: 1000px) and (max-width: 1510px) {

    .begin-your-journeyCareerThree,
    .discover-your-stageCareerThree {
        left: 22.56rem;
        text-align: center;
    }
}


.discover-your-stageCareerThree {
    top: 28.75rem;
    font-size: 2rem;
    /* border: 2px solid red; */
    width: 50%;
    font-weight: bold;
}

@media (min-width: 1000px) and (max-width: 1510px) {
    .discover-your-stageCareerThree {
        top: 28.75rem;
        font-size: 1.5rem;
        text-align: center;
        /* border: 2px solid red; */
        width: 100%;
        font-weight: bold;
    }
}


.begin-your-journeyCareerThree {
    top: 23.44rem;
    font-size: 22px;
    display: inline-block;
    width: 33.19rem;
    height: 8.56rem;
}

@media (min-width: 1000px) and (max-width: 1510px) {
    .begin-your-journeyCareerThree {
        top: 23.44rem;
        font-size: 18px;
        display: inline-block;
        width: 100%;
        margin: auto;
        text-align: center;
        height: 8.56rem;
        /* border: 2px solid red; */
    }
}

.frame-containerCareerThree {
    align-self: stretch;
    position: relative;
    background: linear-gradient(180.04deg, #34a079, #080810);
    width: 40.63rem;
    /* border: 3px solid red; */
    overflow: hidden;
    flex-shrink: 0;
    left: 48rem;
    top: 39rem;
    transform: rotate(-180deg);
    transform-origin: 0 0;
}

@media (min-width: 1000px) and (max-width: 1510px) {
    .frame-containerCareerThree {
        align-self: stretch;
        position: relative;
        background: linear-gradient(180.04deg, #34a079, #080810);
        width: 19.63rem;
        /* border: 3px solid red; */
        overflow: hidden;
        flex-shrink: 0;
        left: 20rem;
        top: 39rem;
        transform: rotate(-180deg);
        transform-origin: 0 0;
    }
}



.b1CareerThree,
.frame-divCareerThree {
    position: absolute;
}

.b1CareerThree {
    top: 10.63rem;
    left: 8.75rem;
    transform: rotate(180deg);
    transform-origin: 0 0;
}

.frame-divCareerThree {
    top: 21.61rem;
    left: 3.19rem;
    border-radius: 1599.44px 1599.44px 1599.44px 0;
    background: linear-gradient(221.27deg,
            rgba(227, 155, 88, 0.39),
            rgba(0, 0, 0, 0.01));
    backdrop-filter: blur(100.62px);
    width: 21.24rem;
    height: 21.24rem;
    transform: rotate(65.69deg);
}

.frame-child1CareerThree,
.frame-divCareerThree,
.parentCareerThree,
.parentCareerThreeOne {
    overflow: hidden;
    transform-origin: 0 0;
}

.parentCareerThree {
    align-self: stretch;
    position: relative;
    background: linear-gradient(180.04deg, #a08234, #080810);
    width: 12.56rem;
    flex-shrink: 0;
    transform: rotate(-180deg);
    left: 17rem;
    top: 39rem;
}

@media (min-width: 1000px) and (max-width: 1510px) {
    .parentCareerThree {
        align-self: stretch;
        position: relative;
        background: linear-gradient(180.04deg, #a08234, #080810);
        width: 12.56rem;
        flex-shrink: 0;
        transform: rotate(-180deg);
        left: 9rem;
        top: 39rem;
    }
}

.parentCareerThreeOne {
    align-self: stretch;
    position: relative;
    background: linear-gradient(180deg, #EC8AD6 -62.95%, #080810 99.97%);
    width: 12.56rem;
    flex-shrink: 0;
    transform: rotate(-180deg);
    left: 17rem;
    top: 39rem;
}

@media (min-width: 1000px) and (max-width: 1510px) {
    .parentCareerThreeOne {
        align-self: stretch;
        position: relative;
        background: linear-gradient(180deg, #EC8AD6 -62.95%, #080810 99.97%);
        width: 12.56rem;
        flex-shrink: 0;
        transform: rotate(-180deg);
        left: 8rem;
        top: 39rem;
    }

}


.frame-child1CareerThree {
    position: absolute;
    top: -6.33rem;
    left: 2.94rem;
    background: linear-gradient(221.27deg,
            rgba(227, 88, 147, 0.39),
            rgba(0, 0, 0, 0.01));
    backdrop-filter: blur(100.62px);
    width: 21.24rem;
    height: 21.24rem;
    transform: rotate(65.69deg);
}

.frame-parent1CareerThreeCareerThree {
    align-self: stretch;
    position: relative;
    background: linear-gradient(180.04deg, #ec8ad6, #080810);
    width: 12.56rem;
    flex-shrink: 0;
    transform: rotate(-180deg);
}

.frame-child2CareerThree,
.frame-parent1CareerThree,
.frame-parent2CareerThree {
    overflow: hidden;
    transform-origin: 0 0;
}

.frame-child2CareerThree {
    position: absolute;
    top: 13.99rem;
    left: calc(50% - 171.8px);
    border-radius: 0 400px 0 800px;
    background: linear-gradient(221.27deg,
            rgba(91, 227, 88, 0.39),
            rgba(0, 0, 0, 0.01));
    backdrop-filter: blur(100.62px);
    width: 18.31rem;
    height: 22.24rem;
    transform: rotate(9.06deg);
    opacity: 0.37;
}

.frame-parent2CareerThree {
    align-self: stretch;
    position: relative;
    background: linear-gradient(180.04deg, #8aceec, #080810);
    width: 12.56rem;
    flex-shrink: 0;
    transform: rotate(-180deg);
    top: 38.91rem;
    left: 16.75rem;
}

@media (min-width: 1000px) and (max-width: 1510px) {
    .frame-parent2CareerThree {
        align-self: stretch;
        position: relative;
        background: linear-gradient(180.04deg, #8aceec, #080810);
        width: 12.56rem;
        flex-shrink: 0;
        transform: rotate(-180deg);
        top: 38.91rem;
        left: 6.75rem;
    }
}

.frame-groupCareerThree {
    position: absolute;
    top: 20.81rem;
    left: 22.75rem;
    height: 43.31rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 8.78rem;
}

.frame-parentCareerThree {
    position: relative;
    width: 100%;
    height: 68.63rem;
    overflow: hidden;
    text-align: left;
    margin: auto;
    font-size: var(--heading-1-size);
    color: var(--color-white);
    font-family: var(--body-1);
}

body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --body-1: Inter;

    /* font sizes */
    --font-size-121xl-5: 8.78rem;
    --body-1-size: 1.5rem;
    --heading-1-size: 4rem;

    /* Colors */
    --color-white: #fff;

    /* Border radiuses */
    --br-1580xl-4: 1599.4px;
}


/* Four Component */
.full-timeCareerFoure {
    position: relative;
}


@media (min-width: 1000px) and (max-width: 1510px) {
    .full-timeCareerFoure {
        position: relative;
        font-size: 18px;
    }
}

.full-time-wrapperCareerFoure {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contract-basedCareerFoure {
    position: relative;
    opacity: 0.6;
}

.current-openings-wrapperCareerFoure,
.frame-groupCareerFoure {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.frame-groupCareerFoure {
    flex-direction: column;
    gap: 1.5rem;
}

@media (min-width: 1000px) and (max-width: 1510px) {
    .frame-groupCareerFoure {
        flex-direction: column;
        gap: 1.5rem;
    }
}



.current-openings-wrapperCareerFoure {
    flex-direction: row;
    padding: 0 var(--padding-13xl);
}

@media (min-width: 1000px) and (max-width: 1510px) {
    .current-openings-wrapperCareerFoure {
        flex-direction: row;
        padding: 0;
    }
}



.tablersearch-iconCareerFoure {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    flex-shrink: 0;
}

.search-for-departmentsCareerFoure {
    position: relative;
    opacity: 0.36;
}

.tablersearch-parentCareerFoure {
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.11);
    width: 64.56rem;
    display: flex;
    padding: 1.5rem var(--padding-13xl);
    box-sizing: border-box;
    gap: 1.19rem;
    font-size: 18px;
}


@media (min-width: 1000px) and (max-width: 1510px) {
    .tablersearch-parentCareerFoure {
        border-radius: 16px;
        background-color: rgba(255, 255, 255, 0.11);
        width: 50rem;
        display: flex;
        padding: 1.5rem var(--padding-13xl);
        box-sizing: border-box;
        gap: 1.19rem;
        margin: auto;
    }
}


.frame-divCareerFoure,
.frame-parent1CareerFoure,
.tablersearch-parentCareerFoure {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.frame-divCareerFoure {
    display: flex;
    font-size: var(--body-1-size);
}

.frame-parent1CareerFoure {
    display: none;
    gap: var(--gap-13xl);
}

.application-closing-atCareerFoure {
    position: relative;
    font-size: var(--font-size-lg);
    opacity: 0.7;
}

.full-time-parentCareerFoure {
    width: 31.53rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-9xs);
    font-size: var(--body-1-size);
}

.senior-developer-parentCareerFoure {
    align-self: stretch;
    height: 3.13rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.new-delhi-in-office-wrapperCareerFoure {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.years-of-experienceCareerFoure {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-lg);
    color: var(--color-gray-100);
}

.frame-parent4CareerFoure,
.frame-parent5CareerFoure {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    font-size: var(--body-1-size);
}

.frame-parent4CareerFoure {
    gap: var(--gap-base);
    font-size: var(--heading-3-size);
    cursor: pointer;
}

.manage-all-accountingCareerFoure {
    align-self: stretch;
    position: relative; 
}

@media (min-width: 1000px) and (max-width: 1510px) {
    .manage-all-accountingCareerFoure {
        align-self: stretch;
        position: relative; 
        font-size: 22px;
    }
}



.manage-all-accounting-transact-wrapperCareerFoure {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.apply-nowCareerFoure {
    align-self: stretch;
    position: relative;
    background: linear-gradient(132.67deg,
            rgba(241, 102, 51, 0.8),
            rgba(253, 45, 125, 0.8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.frame-parent3CareerFoure,
.frame-wrapper1CareerFoure {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.frame-parent3CareerFoure {
    background: linear-gradient(102.14deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.06) 58.62%,
            rgba(255, 255, 255, 0));
    box-shadow: 0 12px 46px rgba(0, 0, 0, 0.35);
    width: 66.25rem;
    padding: var(--padding-13xl);
    box-sizing: border-box;
    gap: 3rem;
}

@media (min-width: 1000px) and (max-width: 1510px) {
    .frame-parent3CareerFoure {
        background: linear-gradient(102.14deg,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0.06) 58.62%,
                rgba(255, 255, 255, 0));
        box-shadow: 0 12px 46px rgba(0, 0, 0, 0.35);
        width: 100%;
        padding: var(--padding-13xl);
        box-sizing: border-box;
        gap: 3rem;
        /* border: 2px solid rebeccapurple; */
    }
}


.frame-wrapper1CareerFoure {
    font-size: var(--body-1-size);
}

.frame-parent6CareerFoure {
    align-self: stretch;
    gap: var(--gap-base);
}

.frame-parent6CareerFoure,
.frame-wrapper2CareerFoure,
.frame-wrapper3CareerFoure {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.frame-wrapper3CareerFoure {
    border-radius: var(--br-5xl);
    background: linear-gradient(102.14deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0) 58.62%,
            rgba(255, 255, 255, 0));
    box-shadow: 0 12px 46px rgba(0, 0, 0, 0.35);
    width: 66.25rem;
    padding: var(--padding-13xl);
    box-sizing: border-box;
}

@media (min-width: 1000px) and (max-width: 1510px) {
    .frame-wrapper3CareerFoure {
        border-radius: var(--br-5xl);
        background: linear-gradient(102.14deg,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0) 58.62%,
                rgba(255, 255, 255, 0));
        box-shadow: 0 12px 46px rgba(0, 0, 0, 0.35);
        width: 100%;
        padding: var(--padding-13xl);
        box-sizing: border-box;
    }
}

.frame-wrapper2CareerFoure {
    border-top: 1px solid var(--color-gray-200);
    border-bottom: 1px solid var(--color-gray-200);
}

.frame-parent2CareerFoure {
    gap: var(--gap-13xl);
    font-size: var(--heading-3-size);
}

.frame-containerCareerFoure,
.frame-parentCareerFoure,
.frame-parent2CareerFoure,
.frame-wrapperCareerFoure {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.frame-containerCareerFoure {
    gap: var(--gap-13xl);
}


.frame-parentCareerFoure,
.frame-wrapperCareerFoure {
    font-size: var(--heading-2-size);
}



.frame-parentCareerFoure {
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    padding: 0 7.5rem;
    box-sizing: border-box;
    gap: 7.5rem;
    text-align: left;
    font-size: var(--heading-3-size);
    color: var(--color-white);
    font-family: var(--body-1);
}



@media (min-width: 1000px) and (max-width: 1510px) {
    .frame-parentCareerFoure {
        position: relative;
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: center;
        padding: 0 7.5rem;
        box-sizing: border-box;
        gap: 7.5rem;
        margin: auto;
        text-align: left;
        font-size: var(--heading-3-size);
        color: var(--color-white);
        font-family: var(--body-1);
    }
}



body {
    margin: 0;
    line-height: normal;

}

:root {
    /* fonts */
    --body-1: Inter;

    /* font sizes */
    --font-size-lg: 1.13rem;
    --body-1-size: 1.5rem;
    --heading-3-size: 2rem;
    --heading-2-size: 3rem;

    /* Colors */
    --color-gray-100: rgba(255, 255, 255, 0.85);
    --color-gray-200: rgba(255, 255, 255, 0.15);
    --color-white: #fff;

    /* Gaps */
    --gap-13xl: 2rem;
    --gap-base: 1rem;
    --gap-5xs: 0.5rem;
    --gap-9xs: 0.25rem;

    /* Paddings */
    --padding-13xl: 2rem;

    /* Border radiuses */
    --br-5xl: 24px;
}




/* Mobile Carrer CSS Component */
.elevate-explore-containerCareerMobileOne {
    align-self: stretch;
    position: relative;
    z-index: 0;
  }
  .join-us-andCareerMobileOne {
    flex: 1;
    position: relative;
  }
  .join-us-and-be-a-part-of-a-tea-wrapperCareerMobileOne {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-size: var(--mob-body1-size);
  }
  .inclusive-workplaceCareerMobileOne {
    position: relative;
  }
  .elevate-explore-excel-parentCareerMobileOne,
  .inclusive-workplace-wrapperCareerMobileOne {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .inclusive-workplace-wrapperCareerMobileOne {
    margin: 0 !important;
    position: absolute;
    top: 1.07rem;
    left: -0.25rem;
    border-radius: 137.06px;
    background: linear-gradient(
      102.14deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.1) 58.62%,
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(24.33px);
    overflow: hidden;
    padding: var(--padding-5xs) var(--padding-13xl);
    transform: rotate(-19.5deg);
    transform-origin: 0 0;
    z-index: 2;
    text-align: left;
    font-size: var(--font-size-xs);
  }
  .elevate-explore-excel-parentCareerMobileOne {
    align-self: stretch;
    position: relative;
    gap: 2rem;
    z-index: 0;
  }
  .frame-childCareerMobileOne {
    position: relative;
    width: 0.43rem;
    height: 1.09rem;
  }
  .vector-wrapperCareerMobileOne {
    border-radius: 19.63px;
    background: linear-gradient(
      180deg,
      rgba(21, 94, 135, 0.9),
      rgba(14, 18, 19, 0)
    );
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0.39rem;
    box-sizing: border-box;
    z-index: 1;
  }
  .frame-parentCareerMobileOne,
  .fun-creative-wrapperCareerMobileOne {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .fun-creative-wrapperCareerMobileOne {
    margin: 0 !important;
    position: absolute;
    top: 12.94rem;
    left: 12.99rem;
    border-radius: 137.06px;
    background: linear-gradient(
      102.14deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.1) 58.62%,
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(24.33px);
    overflow: hidden;
    align-items: flex-start;
    padding: var(--padding-5xs) var(--padding-13xl);
    transform: rotate(20.5deg);
    transform-origin: 0 0;
    z-index: 2;
    text-align: left;
    font-size: var(--font-size-xs);
  }
  .frame-parentCareerMobileOne {
    position: relative;
    width: 100%;
    margin-top: 5rem;
    height: 25.19rem;
    align-items: center;
    padding: 3rem 1.5rem;
    box-sizing: border-box;
    gap: 3rem;
    text-align: center;
    font-size: 3rem;
    color: var(--color-white);
    font-family: var(--mob-body1);
  }
  
  body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --mob-body1: Inter;
  
    /* font sizes */
    --font-size-xs: 0.75rem;
    --mob-body1-size: 1rem;
  
    /* Colors */
    --color-white: #fff;
  
    /* Paddings */
    --padding-5xs: 0.5rem;
    --padding-13xl: 2rem;
  
    /* Border radiuses */
    --br-118xl-1: 137.1px;
  }


  