.frame-childBuyerOneNew {
    position: absolute;
    top: 699px;
    left: 0;
    border-radius: 0 var(--br-281xl) 0 0;
    background: linear-gradient(169.71deg, #cc3775, rgba(79, 42, 73, 0));
    filter: blur(282px);
    width: 699px;
    height: 1398px;
    overflow: hidden;
    transform: rotate(-90deg);
    transform-origin: 0 0;
}

.f-r-a-m-eBuyerOneNew {
    top: 103px;
    left: 0;
    border-radius: 0 var(--br-281xl) var(--br-281xl) var(--br-281xl);
    width: 356px;
    height: 362px;
    z-index: 2;
}

.f-r-a-m-eBuyerOneNew,
.frame-innerBuyerOneNew,
.frame-itemBuyerOneNew,
.rectangle-divBuyerOneNew {
    position: absolute;
    background: linear-gradient(180deg,
            rgba(217, 217, 217, 0.11),
            rgba(217, 217, 217, 0));
}

.frame-itemBuyerOneNew {
    top: 111px;
    left: 374px;
    border-radius: 0 var(--br-281xl) var(--br-281xl) var(--br-281xl);
    width: 356px;
    height: 362px;
    z-index: 2;
}

.frame-innerBuyerOneNew,
.rectangle-divBuyerOneNew {
    top: 159px;
    left: 642px;
    width: 147px;
    height: 150px;
    z-index: 3;
}

.rectangle-divBuyerOneNew {
    top: 268px;
    left: 241px;
    border-radius: 2500px;
    width: 160px;
    height: 160px;
}

.f-r-a-m-e-parentBuyerOneNew {
    position: absolute;
    top: 1071px;
    left: 790px;
    border-radius: 0 var(--br-281xl) 0 0;
    background: linear-gradient(180deg,
            rgba(180, 72, 72, 0.73),
            rgba(79, 42, 73, 0));
    filter: blur(282px);
    width: 699px;
    height: 1398px;
    overflow: hidden;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    z-index: 1;
}


@media (max-width: 767px) {
    .f-r-a-m-e-parentBuyerOneNew {
        position: absolute;
        top: 1071px;
        left: 790px;
        border-radius: 0 var(--br-281xl) 0 0;
        background: linear-gradient(180deg,
                rgba(180, 72, 72, 0.73),
                rgba(79, 42, 73, 0));
        filter: blur(282px);
        width: 699px;
        height: 498px;
        overflow: hidden;
        transform: rotate(-90deg);
        transform-origin: 0 0;
        z-index: 1;
    }
}


.frame-parentBuyerOneNew {
    width: 2188px;
    height: 1071px;
    position: absolute;
    margin: 0 !important;
    top: -356px;
    left: -186px;
    text-align: left;
    font-size: 96px;
    color: var(--color-white);
    font-family: var(--font-inter);
}

@media (max-width: 767px) {
    .frame-parentBuyerOneNew {
        width: 2188px;
        height: 571px;
        position: absolute;
        margin: 0 !important;
        top: -356px;
        left: -186px;
        text-align: left;
        font-size: 96px;
        color: var(--color-white);
        font-family: var(--font-inter);
    }
}

.our-buyers-childBuyerOneNew {
    width: 1019px;
    position: relative;
    border-radius: var(--br-721xl) var(--br-721xl) 0 0;
    height: 941px;
    overflow: hidden;
    flex-shrink: 0;

    z-index: 1;
}

.docusign-1-iconBuyerOneNew {
    height: 52.6px;
    width: 226.6px;
    position: relative;
    object-fit: cover;
}

.hd-meta-facebook-white-logo-pn-iconBuyerOneNew {
    height: 42.9px;
    width: 121.3px;
    position: relative;
    object-fit: cover;
}

.airbnb-1-iconBuyerOneNew,
.klarna-1-iconBuyerOneNew,
.klarna-2-iconBuyerOneNew,
.klarna-3-iconBuyerOneNew,
.meta-1-iconBuyerOneNew {
    align-self: stretch;
    width: 185.7px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
    min-height: 62px;
}

.airbnb-1-iconBuyerOneNew,
.klarna-1-iconBuyerOneNew,
.klarna-2-iconBuyerOneNew,
.klarna-3-iconBuyerOneNew {
    width: 188.3px;
}

.airbnb-1-iconBuyerOneNew,
.klarna-2-iconBuyerOneNew,
.klarna-3-iconBuyerOneNew {
    width: 199.5px;
}

.klarna-2-iconBuyerOneNew,
.klarna-3-iconBuyerOneNew {
    width: 188.3px;
}

.amazon-1-iconBuyerOneNew,
.klarna-4-iconBuyerOneNew,
.reddit-1-iconBuyerOneNew,
.spotify-1-iconBuyerOneNew,
.twilio-1-iconBuyerOneNew,
.wise-1-iconBuyerOneNew {
    align-self: stretch;
    width: 206.4px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
    min-height: 62px;
}

.amazon-1-iconBuyerOneNew,
.klarna-4-iconBuyerOneNew,
.reddit-1-iconBuyerOneNew,
.twilio-1-iconBuyerOneNew,
.wise-1-iconBuyerOneNew {
    width: 159.5px;
}

.amazon-1-iconBuyerOneNew,
.klarna-4-iconBuyerOneNew,
.reddit-1-iconBuyerOneNew,
.twilio-1-iconBuyerOneNew {
    width: 188.3px;
}

.amazon-1-iconBuyerOneNew,
.reddit-1-iconBuyerOneNew,
.twilio-1-iconBuyerOneNew {
    width: 174.3px;
}

.reddit-1-iconBuyerOneNew,
.twilio-1-iconBuyerOneNew {
    width: 205.6px;
}

.reddit-1-icon {
    width: 192.7px;
}

.hdmetafacebookwhitelogopngydgyBuyerOneNew {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 var(--padding-2xs) 0 0;
    opacity: 0.9;
    gap: var(--gap-xl);
}

.docusign-1-icon1BuyerOneNew {
    height: 52.6px;
    width: 226.6px;
    position: relative;
    object-fit: cover;
}

.hd-meta-facebook-white-logo-pn-icon1BuyerOneNew {
    height: 42.9px;
    width: 121.3px;
    position: relative;
    object-fit: cover;
}

.airbnb-1-icon1BuyerOneNew,
.klarna-1-icon1BuyerOneNew,
.klarna-2-icon1BuyerOneNew,
.klarna-3-icon1BuyerOneNew,
.meta-1-icon1 {
    align-self: stretch;
    width: 185.7px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
    min-height: 62px;
}

.airbnb-1-icon1BuyerOneNew,
.klarna-1-icon1BuyerOneNew,
.klarna-2-icon1BuyerOneNew,
.klarna-3-icon1BuyerOneNew {
    width: 188.3px;
}

.airbnb-1-icon1BuyerOneNew,
.klarna-2-icon1BuyerOneNew,
.klarna-3-icon1BuyerOneNew {
    width: 199.5px;
}

.klarna-2-icon1BuyerOneNew,
.klarna-3-icon1BuyerOneNew {
    width: 188.3px;
}

.amazon-1-icon1BuyerOneNew,
.klarna-4-icon1BuyerOneNew,
.reddit-1-icon1BuyerOneNew,
.spotify-1-icon1BuyerOneNew,
.twilio-1-icon1BuyerOneNew,
.wise-1-icon1BuyerOneNew {
    align-self: stretch;
    width: 206.4px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
    min-height: 62px;
}

.amazon-1-icon1BuyerOneNew,
.klarna-4-icon1BuyerOneNew,
.reddit-1-icon1BuyerOneNew,
.twilio-1-icon1BuyerOneNew,
.wise-1-icon1BuyerOneNew {
    width: 159.5px;
}

.amazon-1-icon1BuyerOneNew,
.klarna-4-icon1BuyerOneNew,
.reddit-1-icon1BuyerOneNew,
.twilio-1-icon1BuyerOneNew {
    width: 188.3px;
}

.amazon-1-icon1BuyerOneNew,
.reddit-1-icon1BuyerOneNew,
.twilio-1-icon1BuyerOneNew {
    width: 174.3px;
}

.reddit-1-icon1BuyerOneNew,
.twilio-1-icon1BuyerOneNew {
    width: 205.6px;
}

.reddit-1-icon1BuyerOneNew {
    width: 192.7px;
}

.hdmetafacebookwhitelogopngydgy1BuyerOneNew {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 var(--padding-2xs) 0 0;
    opacity: 0.9;
    gap: var(--gap-xl);
}

.docusign-1-icon2BuyerOneNew {
    height: 52.6px;
    width: 226.6px;
    position: relative;
    object-fit: cover;
}

.hd-meta-facebook-white-logo-pn-icon2BuyerOneNew {
    height: 42.9px;
    width: 121.3px;
    position: relative;
    object-fit: cover;
}

.airbnb-1-icon2BuyerOneNew,
.klarna-1-icon2BuyerOneNew,
.klarna-2-icon2BuyerOneNew,
.klarna-3-icon2BuyerOneNew,
.meta-1-icon2BuyerOneNew {
    align-self: stretch;
    width: 185.7px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
    min-height: 62px;
}

.airbnb-1-icon2BuyerOneNew,
.klarna-1-icon2BuyerOneNew,
.klarna-2-icon2BuyerOneNew,
.klarna-3-icon2BuyerOneNew {
    width: 188.3px;
}

.airbnb-1-icon2BuyerOneNew,
.klarna-2-icon2BuyerOneNew,
.klarna-3-icon2BuyerOneNew {
    width: 199.5px;
}

.klarna-2-icon2BuyerOneNew,
.klarna-3-icon2BuyerOneNew {
    width: 188.3px;
}

.amazon-1-icon2BuyerOneNew,
.klarna-4-icon2BuyerOneNew,
.reddit-1-icon2BuyerOneNew,
.spotify-1-icon2BuyerOneNew,
.twilio-1-icon2BuyerOneNew,
.wise-1-icon2BuyerOneNew {
    align-self: stretch;
    width: 206.4px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
    min-height: 62px;
}

.amazon-1-icon2BuyerOneNew,
.klarna-4-icon2BuyerOneNew,
.reddit-1-icon2BuyerOneNew,
.twilio-1-icon2BuyerOneNew,
.wise-1-icon2BuyerOneNew {
    width: 159.5px;
}

.amazon-1-icon2BuyerOneNew,
.klarna-4-icon2BuyerOneNew,
.reddit-1-icon2BuyerOneNew,
.twilio-1-icon2BuyerOneNew {
    width: 188.3px;
}

.amazon-1-icon2BuyerOneNew,
.reddit-1-icon2BuyerOneNew,
.twilio-1-icon2BuyerOneNew {
    width: 174.3px;
}

.reddit-1-icon2BuyerOneNew,
.twilio-1-icon2BuyerOneNew {
    width: 205.6px;
}

.reddit-1-icon2BuyerOneNew {
    width: 192.7px;
}

.hdmetafacebookwhitelogopngydgy2BuyerOneNew {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 var(--padding-2xs) 0 0;
    opacity: 0.9;
    gap: var(--gap-xl);
}

.hdmetafacebookwhitelogopngydgy-parentBuyerOneNew {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 81px;
    opacity: 0.8;
    max-width: 100%;
}

.our-buyers-innerBuyerOneNew {
    width: 100%;
    margin: 0 !important;
    position: absolute;
    bottom: 162px;

    border-radius: 3500px;
    background: linear-gradient(144.44deg, #141429, rgba(20, 20, 41, 0));
    box-shadow: 50px 4px 88px rgba(0, 0, 0, 0.35) inset,
        0-56px 73px rgba(0, 0, 0, 0.45) inset, 0 56px 56px rgba(0, 0, 0, 0.45) inset;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 132px 0;
}


@media (max-width: 767px) {
    .our-buyers-innerBuyerOneNew {
        height: 600px;
        width: 100%;
        margin: 0 !important;
        position: absolute;
        bottom: 162px;
    
        border-radius: 3500px;
        background: linear-gradient(144.44deg, #141429, rgba(20, 20, 41, 0));
        box-shadow: 50px 4px 88px rgba(0, 0, 0, 0.35) inset,
            0-56px 73px rgba(0, 0, 0, 0.45) inset, 0 56px 56px rgba(0, 0, 0, 0.45) inset;
        border: 1px solid rgba(255, 255, 255, 0.11);
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 132px 0;
    }
}

.government-entitiesBuyerOneNew {
    height: 29px;
    position: relative;
    font-size: var(--font-size-5xl);
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
}

.gov-corp-entitiesBuyerOneNew {
    border-radius: var(--br-81xl);
    background: linear-gradient(132.67deg,
            rgba(241, 102, 51, 0.8),
            rgba(253, 45, 125, 0.8));
    backdrop-filter: blur(55px);
    border: 1px solid var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-base) var(--padding-28xl);
    white-space: nowrap;
}

.entities-frameBuyerOneNew {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 212px;
    max-width: 100%;
}

.corporateBuyerOneNew {
    position: relative;
    font-size: var(--font-size-5xl);
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
}

.corporate-wrapperBuyerOneNew {
    border-radius: var(--br-81xl);
    background: linear-gradient(102.14deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.1) 58.62%,
            rgba(255, 255, 255, 0));
    backdrop-filter: blur(55px);
    border: 1px solid var(--color-gray-100);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-base) var(--padding-28xl);
}

.entities-frame1BuyerOneNew {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.hotel-restaurantsBuyerOneNew {
    height: 29px;
    position: relative;
    font-size: var(--font-size-5xl);
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
}

.hotel-restaurants-wrapperBuyerOneNew {
    border-radius: var(--br-81xl);
    background: linear-gradient(102.14deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.1) 58.62%,
            rgba(255, 255, 255, 0));
    backdrop-filter: blur(55px);
    border: 1px solid var(--color-gray-100);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-base) var(--padding-28xl);
    white-space: nowrap;
}

.entities-frame2BuyerOneNew {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 209px;
    max-width: 100%;
}

.university-collegesBuyerOneNew {
    position: relative;
    font-size: var(--font-size-5xl);
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
}

.university-colleges-wrapperBuyerOneNew {
    border-radius: var(--br-81xl);
    background: linear-gradient(102.14deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.1) 58.62%,
            rgba(255, 255, 255, 0));
    backdrop-filter: blur(16.97px);
    border: 1px solid var(--color-gray-100);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-base) var(--padding-28xl);
    white-space: nowrap;
}

.university-columnBuyerOneNew,
.university-column-wrapperBuyerOneNew {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.university-columnBuyerOneNew {
    backdrop-filter: blur(55px);
}

.university-column-wrapperBuyerOneNew {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
}

.government-entities-frameBuyerOneNew {
    width: 1269px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
    max-width: 100%;
    z-index: 2;
}

.our-buyersBuyerOneNew {
    width: 100%;
    position: relative;
    background-color: #080810;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 695px var(--padding-xl) 736px 21px;
    box-sizing: border-box;
    letter-spacing: normal;
}

@media screen and (max-width: 2500px) {

    .hdmetafacebookwhitelogopngydgyBuyerOneNew,
    .hdmetafacebookwhitelogopngydgy1BuyerOneNew,
    .hdmetafacebookwhitelogopngydgy2BuyerOneNew {
        flex-wrap: wrap;
        justify-content: center;
    }

    .our-buyersBuyerOneNew {
        height: auto;
        overflow: hidden;
    }
}

@media screen and (max-width: 1825px) {

    .hdmetafacebookwhitelogopngydgyBuyerOneNew,
    .hdmetafacebookwhitelogopngydgy1BuyerOneNew,
    .hdmetafacebookwhitelogopngydgy2BuyerOneNew {
        flex-wrap: wrap;
        justify-content: center;
    }

    .our-buyersBuyerOneNew {
        height: auto;
        overflow: hidden;
    }
}

@media screen and (max-width: 1150px) {
    .our-buyers1BuyerOneNew {
        font-size: 48px;
    }

    .hdmetafacebookwhitelogopngydgyBuyerOneNew,
    .hdmetafacebookwhitelogopngydgy1BuyerOneNew,
    .hdmetafacebookwhitelogopngydgy2BuyerOneNew {
        flex-wrap: wrap;
        justify-content: center;
    }

    .government-entities-frameBuyerOneNew {
        gap: 16px;
    }

    .our-buyersBuyerOneNew {
        height: auto;
        overflow: hidden;
    }
}

@media screen and (max-width: 450px) {
    .our-buyers1BuyerOneNew {
        font-size: 29px;
    }

    .hdmetafacebookwhitelogopngydgyBuyerOneNew,
    .hdmetafacebookwhitelogopngydgy1BuyerOneNew,
    .hdmetafacebookwhitelogopngydgy2BuyerOneNew {
        flex-wrap: wrap;
        justify-content: center;
    }

    .gov-corp-entitiesBuyerOneNew {
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }

    .corporateBuyerOneNew {
        font-size: 19px;
    }

    .hotel-restaurants-wrapperBuyerOneNew,
    .university-colleges-wrapperBuyerOneNew {
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }

    .our-buyersBuyerOneNew {
        height: auto;
        overflow: hidden;
    }
}

body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-inter: Inter;

    /* font sizes */
    --font-size-5xl: 24px;

    /* Colors */
    --color-gray-100: rgba(255, 255, 255, 0.45);
    --color-white: #fff;

    /* Gaps */
    --gap-xl: 20px;

    /* Paddings */
    --padding-xl: 20px;
    --padding-base: 16px;
    --padding-28xl: 47px;
    --padding-2xs: 11px;

    /* Border radiuses */
    --br-81xl: 100px;
    --br-721xl: 740px;
    --br-281xl: 300px;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    margin-top: 2%;
}

.marquee-image {
    display: inline-block;
    width: 8%;
    height: 140px;
    animation: marquee 2s linear infinite;
    margin: 15px;
}

@media (max-width: 767px) {
    .marquee-image  {
        display: inline-block;
        width: 40%;
        height: 120px;
        animation: marquee 2s linear infinite;
        margin: 15px;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.ImageStyleFoure {
    width: 209.182px;
    height: 50.241px;
    background: rgb(211 211 211 / 0%) 50% / cover no-repeat;
}


.marqueeOne {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    margin-top: 3%;
}

.marquee-image-One {
    display: inline-block;
    width: 8%;
    height: 140px;
    animation: marqueeOne 2s linear infinite;
    margin: 15px;
}

@media (max-width: 767px) {
    .marquee-image-One {
        display: inline-block;
        width: 45%;
        height: 120px;
        animation: marqueeOne 2s linear infinite;
        margin: 15px;
    }
}

@keyframes marqueeOne {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}



.our-buyers1BuyerOneNew {
    margin: auto;
    position: absolute;
    top: 234px;
    text-align: center;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 4;
}