.all-categoriesProFormOne {
  flex: 1;
  position: relative;
}
.cancel-selectionProFormOne {
  position: relative;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  text-align: right;
}
.all-categories-comedians-z-parentProFormOne {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-wrapperProFormOne {
  width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 60px 180px;
  box-sizing: border-box;
}
.zakir-khan-1ProFormOne {
  position: relative;
  border-radius: 93px;
  width: 459px;
  height: 731.61px;
  object-fit: cover;
}

@media (min-width: 1000px) and (max-width: 1510px) {
  .zakir-khan-1ProFormOne {
      position: relative;
      border-radius: 93px;
      width: 100%;
      height: 631.61px;
      object-fit: cover;
  }
}


.component-29ProFormOne,
.zakir-khan-1-wrapperProFormOne {
  border-radius: 44px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-29ProFormOne {
  border-radius: 166px;
  width: 459px;
  flex-direction: column;
  align-items: center;
}
.woohoo-you-madeProFormOne {
  position: relative;
  font-weight: 600;
}
.just-a-stepProFormOne {
  position: relative;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.woohoo-you-made-a-great-choic-parentProFormOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}


@media (min-width: 1000px) and (max-width: 1510px) {
  .woohoo-you-made-a-great-choic-parentProFormOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    /* border: 1px solid red; */
    position: relative;
    left: -240px;
  }
}


.event-detailsProFormOne {
  position: relative;
  opacity: 0.85;
}
.doneProFormOne,
.personal-detailsProFormOne {
  position: relative;
  opacity: 0.8;
}
.doneProFormOne {
  opacity: 0.4;
}
.event-details-parentProFormOne {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 389px;
}
.frame-childProFormOne {
  position: relative;
  width: 1028px;
  height: 68px;
}
.frame-parent1ProFormOne {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.your-nameProFormOne {
  opacity: 0.9;
}
.select-the-typeProFormOne,
.your-nameProFormOne {
  position: relative;
}
.frame-wrapper2ProFormOne,
.select-the-type-wrapperProFormOne {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper2ProFormOne {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--color-gray-300);
  backdrop-filter: blur(16.97px);
  overflow: hidden;
  padding: var(--padding-5xl) var(--padding-29xl);
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
}
.frame-wrapper1ProFormOne,
.your-name-parentProFormOne {
  flex-direction: column;
  align-items: flex-start;
}
.your-name-parentProFormOne {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-base);
  opacity: 0.8;
}
.frame-wrapper1ProFormOne {
  width: 450.5px;
  /* border: 1px solid red; */
}


@media (min-width: 991px) and (max-width: 1550px) {
  .frame-wrapper1ProFormOne{
      width: 280.5px;
      /* border: 1px solid red; */
  }
}


.frame-wrapper1ProFormOne,
.frame-wrapper3ProFormOne,
.frame-wrapper4ProFormOne {
  display: flex;
  justify-content: flex-start;
}
.frame-wrapper4ProFormOne {
  border-radius: var(--br-base);
  background-color: var(--color-gray-300);
  backdrop-filter: blur(16.97px);
  width: 450.5px;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xl) var(--padding-29xl);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
}

@media (min-width: 991px) and (max-width: 1550px) {
  .frame-wrapper4ProFormOne  {
      border-radius: var(--br-base);
      background-color: var(--color-gray-300);
      backdrop-filter: blur(16.97px);
      width: 280.5px;
      overflow: hidden;
      align-items: center;
      padding: var(--padding-9xl) var(--padding-29xl);
      box-sizing: border-box;
      font-size: var(--font-size-5xl);
      color: var(--color-gray-200);
  }
}

.frame-wrapper3ProFormOne {
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent3ProFormOne,
.frame-wrapper6ProFormOne,
.frame-wrapper8ProFormOne {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent3ProFormOne {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-13xl);
}
.frame-wrapper6ProFormOne,
.frame-wrapper8ProFormOne {
  border-radius: var(--br-base);
  background-color: var(--color-gray-300);
  backdrop-filter: blur(16.97px);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-9xl) var(--padding-29xl);
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
}
.frame-wrapper6ProFormOne {
  align-self: stretch;
}
.frame-wrapper8ProFormOne {
  width: 450.5px;
  box-sizing: border-box;
}

@media (min-width: 991px) and (max-width: 1550px) {
  .frame-wrapper8ProFormOne {
    
      width: 280.5px;
      
  }
}

.done-iconProFormOne {
  position: relative;
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.done-wrapperProFormOne {
  border-radius: 6.4px;
  background-color: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(13.57px);
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 22.399995803833008px 38.39999008178711px;
  box-sizing: border-box;
}
.frame-parent5ProFormOne {
  flex: 1;
  gap: var(--gap-base);
  opacity: 0.8;
}
.frame-parent5ProFormOne,
.frame-wrapper10ProFormOne,
.frame-wrapper9ProFormOne {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper10ProFormOne {
  width: 510.5px;
  /* border: 1px solid red; */
}
.frame-wrapper9ProFormOne {
  align-self: stretch;
}
.frame-parent2ProFormOne {
  width: 1053px;
  align-items: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--font-size-lg);
}
.component-29-parentProFormOne,
.frame-containerProFormOne,
.frame-divProFormOne,
.frame-parent2ProFormOne {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-divProFormOne {
  align-items: flex-start;
  gap: 64px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.component-29-parentProFormOne,
.frame-containerProFormOne {
  align-items: center;
  gap: 100px;
}
.component-29-parentProFormOne {
  position: absolute;
  top: 56px;
  left: 56px;
  flex-direction: row;
  align-items: flex-start;
  gap: 63px;
}
.next-stepProFormOne {
  position: absolute;
  top: 756px;
  left: 1390px;
  font-size: var(--font-size-lg);
  font-weight: 600;
  background: linear-gradient(
    132.67deg,
    rgba(255, 253, 253, 0.36),
    rgba(255, 227, 226, 0.8),
    rgba(241, 102, 51, 0.8) 29.48%,
    rgba(253, 45, 125, 0.8) 64.9%,
    rgba(21, 18, 18, 0.8) 99.42%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
}


@media (min-width: 991px) and (max-width: 1550px) {
  .next-stepProFormOne {
      position: absolute;
      top: 680px;
      left: 1060px;
      font-size: var(--font-size-lg);
      font-weight: 600;
      background: linear-gradient(132.67deg,
              rgba(255, 253, 253, 0.36),
              rgba(255, 227, 226, 0.8),
              rgba(241, 102, 51, 0.8) 29.48%,
              rgba(253, 45, 125, 0.8) 64.9%,
              rgba(21, 18, 18, 0.8) 99.42%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: right;
  }
}

.frame-groupProFormOne {
  position: relative;
  border-radius: 100px;
  background: linear-gradient(178.8deg, #141429, transparent);
  box-shadow: 0 14px 41px rgba(0, 0, 0, 0.6) inset;
  width: 100%;
  height: 866.68px;
  font-size: 32px;
  color: rgba(255, 253, 253, 0.8);
}
.frame-parentProFormOne {
  position: relative;
  width: 85%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
  margin: auto;
}



:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: rgba(255, 255, 255, 0.5);
  --color-gray-200: rgba(255, 255, 255, 0.58);
  --color-gray-300: rgba(255, 255, 255, 0.04);

  /* Gaps */
  --gap-13xl: 32px;
  --gap-base: 16px;

  /* Paddings */
  --padding-9xl: 28px;
  --padding-29xl: 48px;
  --padding-5xl: 24px;

  /* Border radiuses */
  --br-base: 16px;
}



/* GTQ OTP FROM */
.enter-your-otpMobileGTQOTP {
  opacity: 0.95;
}
.enter-a-4-digitMobileGTQOTP,
.enter-your-otpMobileGTQOTP {
  position: relative;
}
.enter-a-4-digit-otp-wrapperMobileGTQOTP {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.enter-your-otp-here-parentMobileGTQOTP,
.frame-wrapperMobileGTQOTP {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapperMobileGTQOTP {
  border-radius: 9.72px;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10.3px);
  overflow: hidden;
  flex-direction: row;
  width: 22px;
  margin: 4px;
  padding: var(--padding-base);
  font-size: var(--font-size-xs);
  color: rgba(239, 192, 192, 0.58);
}
.enter-your-otp-here-parentMobileGTQOTP {
  flex-direction: column;
  gap: var(--gap-5xl);
}
.divMobileGTQOTP {
  position: relative;
  font-size: var(--font-size-xs);
  opacity: 0.9;
}
.frame-groupMobileGTQOTP {
  width: 19.38rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.61rem;
  opacity: 0.8;
}
.logoswhatsapp-iconMobileGTQOTP {
  position: relative;
  width: 1.36rem;
  height: 1.37rem;
  overflow: hidden;
  flex-shrink: 0;
}
.logoswhatsapp-icon-parentMobileGTQOTP {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1.75rem;
}
.resend-with-parentMobileGTQOTP {
  width: 15.06rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  font-size: 0.88rem;
}
.frame-containerMobileGTQOTP {
  width: 19.38rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  opacity: 0.8;
}
.verify-wrapperMobileGTQOTP {
  border-radius: 400px;
  background: linear-gradient(
    132.67deg,
    rgba(255, 253, 253, 0.36),
    rgba(255, 227, 226, 0.8),
    rgba(241, 102, 51, 0.8) 29.48%,
    rgba(253, 45, 125, 0.8) 64.9%,
    rgba(21, 18, 18, 0.8) 99.42%
  );
  backdrop-filter: blur(10.16px);
  width: 19.38rem;
  height: 2.88rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
}
.verify-without-otpMobileGTQOTP {
  position: relative;
  font-size: var(--font-size-base);
  text-align: center;
}
.frame-divMobileGTQOTP,
.frame-parentMobileGTQOTP {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-divMobileGTQOTP {
  align-items: center;
  gap: var(--gap-base);
  font-size: 1.13rem;
}
.frame-parentMobileGTQOTP {
  position: relative;
  border-radius: 32px;
  background-color: #0d0d13;
  border: 1px solid rgba(255, 255, 255, 0.11);
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-5xl);
  gap: 2rem;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}


.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: auto;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.all-categoriesProFromThree {
  flex: 1;
  position: relative;
}
.cancel-selectionProFromThree {
  position: relative;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  text-align: right;
}
.all-categories-comedians-z-parentProFromThree {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frame-wrapperProFromThree {
  width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 60px 120px;
  box-sizing: border-box;
}
.zakir-khan-1ProFromThree {
  position: relative;
  border-radius: 93px;
  width: 459px;
  height: 731.61px;
  object-fit: cover;
}

@media (min-width: 1000px) and (max-width: 1510px) {
  .zakir-khan-1ProFromThree {
      position: relative;
      border-radius: 93px;
      width: 100%;
      height: 631.61px;
      object-fit: cover;
  }
}


@media (min-width: 1300px) and (max-width: 1510px) {
  .your-nameProFormOneOneLineOne{
    opacity: 0.9;
    margin-left: -55px;
  }
}

.component-29ProFromThree,
.zakir-khan-1-wrapperProFromThree {
  border-radius: 44px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-29ProFromThree {
  border-radius: 166px;
  width: 459px;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}
.woohoo-you-madeProFromThree {
  position: relative;
  font-weight: 600;
}
.just-a-stepProFromThree {
  position: relative;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.woohoo-you-made-a-great-choic-parentProFromThree {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}


@media (min-width: 1000px) and (max-width: 1510px) {
  .woohoo-you-made-a-great-choic-parentProFromThree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    /* border: 1px solid red; */
    position: relative;
    left: -240px;
  }
}


.event-detailsProFromThree {
  position: relative;
  opacity: 0.85;
}
.doneProFromThree,
.personal-detailsProFromThree {
  position: relative;
  opacity: 0.8;
}
.doneProFromThree {
  opacity: 0.4;
}
.event-details-parentProFromThree {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 389px;
}
.frame-childProFromThree {
  position: relative;
  width: 1030px;
  height: 70px;
}
.frame-parent1ProFromThree {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.tell-us-moreProFromThree {
  opacity: 0.9;
}
.describe-additional-infoProFromThree,
.tell-us-moreProFromThree {
  position: relative;
}
.describe-additional-info-in-20-wrapperProFromThree,
.frame-wrapper3ProFromThree {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper3ProFromThree {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(16.97px);
  height: 159px;
  width: 93%;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: 24px 48px;
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  color: rgba(255, 255, 255, 0.58);
}

@media (min-width: 1000px) and (max-width: 1510px) {
  .frame-wrapper3ProFromThree{
      align-self: stretch;
      border-radius: var(--br-base);
      background-color: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(16.97px);
      width: 55%;
      height: 159px;
      overflow: hidden;
      flex-shrink: 0;
      align-items: flex-start;
      padding: 24px 48px;
      box-sizing: border-box;
      font-size: var(--font-size-5xl);
      color: rgba(255, 255, 255, 0.58);
  }
}

.tell-us-more-we-love-to-listen-parentProFromThree {
  align-self: stretch;
  height: 197px;
  flex-direction: column;
  gap: var(--gap-base);
  opacity: 0.8;
}
.frame-wrapper1ProFromThree,
.frame-wrapper2ProFromThree,
.tell-us-more-we-love-to-listen-parentProFromThree {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper2ProFromThree {
  flex: 1;
  flex-direction: column;
}
.frame-wrapper1ProFromThree {
  align-self: stretch;
  height: 191px;
  flex-direction: row;
}
.done-iconProFromThree {
  position: relative;
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.done-wrapperProFromThree {
  border-radius: 6.4px;
  background-color: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(13.57px);
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 22.399995803833008px 38.39999008178711px;
  box-sizing: border-box;
}
.frame-parent3ProFromThree {
  flex: 1;
  gap: var(--gap-base);
  opacity: 0.8;
}
.frame-parent3ProFromThree,
.frame-wrapper4ProFromThree,
.frame-wrapper5ProFromThree {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper5ProFromThree {
  width: 510.5px;
  /* border: 1px solid; */
}
.frame-wrapper4ProFromThree {
  align-self: stretch;
}
.frame-parent2ProFromThree {
  width: 1053px;
  align-items: flex-start;
  gap: 32px;
  font-size: var(--font-size-lg);
}
.frame-divProFromThree,
.frame-groupProFromThree,
.frame-parent2ProFromThree {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-divProFromThree {
  align-items: flex-start;
  gap: 64px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.frame-groupProFromThree {
  align-items: center;
  gap: 100px;
  z-index: 1;
  font-size: 32px;
  color: rgba(255, 253, 253, 0.8);
}
.we-do-notProFromThree {
  position: absolute;
  margin: 0 !important;
  top: 657px;
  left: calc(50% - 109.5px);
  text-align: center;
  display: inline-block;
  width: 651px;
  flex-shrink: 0;
  opacity: 0.5;
  z-index: 2;
}

@media (min-width: 1300px) and (max-width: 1510px) {
  .we-do-notProFromThree {
      position: absolute;
      margin: 0 !important;
      top: 657px;
      left: calc(53% - 109.5px);
      text-align: center;
      display: inline-block;
      width: 651px;
      flex-shrink: 0;
      opacity: 0.5;
      z-index: 2;
    }
}

.component-29-parentProFromThree,
.next-wrapperProFromThree {
  position: absolute;
  display: flex;
  flex-direction: row;
}
.next-wrapperProFromThree {
  margin: 0 !important;
  top: 710px;
  left: 850px;
  border-radius: var(--br-base);
  background: linear-gradient(
    132.67deg,
    rgba(255, 253, 253, 0.25),
    rgba(255, 227, 226, 0.55),
    rgba(241, 102, 51, 0.55) 29.48%,
    rgba(253, 45, 125, 0.55) 64.9%,
    rgba(21, 18, 18, 0.55) 99.42%
  );
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 16px 95px;
  z-index: 3;
  cursor: pointer;
}


@media (min-width: 1000px) and (max-width: 1510px) {
  .next-wrapperProFromThree {
      margin: 0 !important;
      top: 569px;
      left: 650px;
      border-radius: var(--br-base);
      background: linear-gradient(
        132.67deg,
        rgba(255, 253, 253, 0.25),
        rgba(255, 227, 226, 0.55),
        rgba(241, 102, 51, 0.55) 29.48%,
        rgba(253, 45, 125, 0.55) 64.9%,
        rgba(21, 18, 18, 0.55) 99.42%
      );
      overflow: hidden;
      align-items: center;
      justify-content: center;
      padding: 16px 95px;
      z-index: 3;
    }
}

.component-29-parentProFromThree {
  top: 56px;
  left: 56px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 63px;
}
.frame-containerProFromThree {
  position: relative;
  border-radius: 100px;
  background: linear-gradient(178.8deg, #141429, transparent);
  box-shadow: 0 14px 41px rgba(0, 0, 0, 0.6) inset;
  width: 100%;
  height: 866.68px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.frame-parentProFromThree {
  position: relative;
  width: 85%;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}



:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: rgba(255, 255, 255, 0.5);

  /* Gaps */
  --gap-base: 16px;

  /* Border radiuses */
  --br-base: 16px;
}



/* otp Script */
.enter-your-otpFormOTP {
opacity: 1;
color: white;
font-weight: bold;
}
.enter-a-4-digitFormOTP,
.enter-your-otpFormOTP {
position: relative;
color: white;
font-weight: bold;
}
.enter-a-4-digit-otp-wrapperFormOTP {
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
width: 50px;
height: 30px;

}
.enter-your-otp-here-parentFormOTP,
.frame-wrapperFormOTP {
align-self: stretch;
display: flex;
align-items: center;
justify-content: flex-start;
}
.frame-wrapperFormOTP {
border-radius: 14.56px;
background-color: rgba(255, 255, 255, 0.04);
backdrop-filter: blur(15.44px);
overflow: hidden;
flex-direction: row;
padding: 23.976205825805664px;
font-size: var(--font-size-lg);
color: white;
width: 300px;
margin: 10px;
}
.enter-your-otp-here-parentFormOTP {
flex-direction: column;
gap: 35.96px;
}
.divFormOTP {
position: relative;
font-size: var(--font-size-lg);
opacity: 0.9;
}
.frame-groupFormOTP {
width: 465.07px;
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: flex-start;
gap: 14.56px;
opacity: 0.8;
}
.logoswhatsapp-iconFormOTP {
position: relative;
width: 28px;
height: 28px;
overflow: hidden;
flex-shrink: 0;
}
.logoswhatsapp-icon-parentFormOTP {
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
gap: var(--gap-13xl);
}
.resend-with-parentFormOTP {
align-items: center;
gap: 12px;
font-size: var(--font-size-lg);
}
.didnt-recieve-the-otp-parentFormOTP,
.frame-containerFormOTP,
.resend-with-parentFormOTP {
display: flex;
flex-direction: column;
justify-content: flex-start;
}
.didnt-recieve-the-otp-parentFormOTP {
align-self: stretch;
align-items: center;
gap: var(--gap-13xl);
}
.frame-containerFormOTP {
width: 465.07px;
align-items: flex-end;
opacity: 0.8;
}
.verify-wrapperFormOTP {
border-radius: 599.41px;
background: linear-gradient(
  132.67deg,
  rgba(255, 253, 253, 0.36),
  rgba(255, 227, 226, 0.8),
  rgba(241, 102, 51, 0.8) 29.48%,
  rgba(253, 45, 125, 0.8) 64.9%,
  rgba(21, 18, 18, 0.8) 99.42%
);
backdrop-filter: blur(15.22px);
width: 465.07px;
height: 68.85px;
overflow: hidden;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 23.976205825805664px 35.96431350708008px;
box-sizing: border-box;
}
.verify-without-otpFormOTP {
position: relative;
font-size: var(--font-size-lg);
text-align: center;
}
.frame-divFormOTP,
.frame-parentFormOTP {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: 23.98px;
}
.frame-parentFormOTP {
position: relative;
border-radius: 47.95px;
background-color: #0d0d13;
border: 1.5px solid rgba(255, 255, 255, 0.11);
box-sizing: border-box;
width: 100%;
overflow: hidden;
align-items: flex-start;
padding: 35.96431350708008px;
gap: 47.95px;
text-align: left;
font-size: var(--font-size-5xl);
color: var(--color-white);
font-family: var(--font-inter);
}


:root {
/* fonts */
--font-inter: Inter;

/* font sizes */
--font-size-lg: 18px;
--font-size-5xl: 24px;

/* Colors */
--color-white: #fff;

/* Gaps */
--gap-13xl: 32px;

/* Paddings */
--padding-17xl: 36px;
--padding-5xl: 24px;
}

