.MainBoxFive {
    padding-top: 80px;
    padding-bottom: 130px;
    width: 100%;
    height: 100%;
    background: rgb(8, 8, 16);
}

@media (min-width: 991px) and (max-width: 1500px) {
    .MainBoxFive {
        padding-bottom: 70px;
    }
}

@media (max-width: 767px) {
    .MainBoxFive {
        width: 100%;
        height: 500px;
        /* // border: 2px solid red; */
        padding-top: 1px;
        overflow: hidden;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .MainBoxFive {
        width: 100%;
        padding: 20px;
    }
}

.HightBox {
    display: flex;
    padding: 70px;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    flex-shrink: 0;
}

.HighText {
    color: #fff;
    font-family: Inter;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (min-width: 991px) and (max-width: 1500px) {
    .HighText {
        font-size: 50px;
    }
}

@media (max-width: 767px) {
    .HighText {
        color: #fff;
        text-align: center;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #fff;
        text-align: center;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .HighText {
        width: 100%;
        padding: 20px;
    }
}

.MobileBox {
    display: flex;
    width: 342px;
    height: 342px;
    margin: auto;
    /* // padding: 48px 24px 32px 24px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 32px;
    border: 1px solid #847878;
    background: linear-gradient(100deg,
            rgba(255, 255, 255, 0) -3.77%,
            rgba(255, 255, 255, 0.1) 63.31%,
            rgba(255, 255, 255, 0) 110.68%);
    box-shadow: 0px 4px 59px 0px rgba(0, 0, 0, 0.55) inset;

}

.OneOfBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    width: 78%;
    height: 280px;
    /* // border: 2px solid red; */
    margin: auto;
}


@media (min-width: 991px) and (max-width: 1510px) {
    .OneOfBox {
        width: 85%;
        /* // border: 2px solid red; */
    }
}

@media (max-width: 767px) {
    .OneOfBox {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .OneOfBox {
        width: 100%;
        padding: 20px;
    }
}

.OneText {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (min-width: 991px) and (max-width: 1510px) {
    .OneText {
        font-size: 34px;
    }
}

@media (max-width: 767px) {
    .OneText {
        color: #fff;
        font-family: Inter;
        font-size: 24px;
        margin-top: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        padding: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .OneText {
        width: 100%;
        padding: 20px;
    }
}


.ImageLogo {
    width: 95.887px;
    height: 74px;
    position: absolute;
    margin-top: -32px;
}

@media (min-width: 200px) and (max-width: 767px) {
    .ImageLogo {
        width: 54.423px;
        height: 42px;
        position: absolute;
        right: 20.523px;
        top: 20.779px;
        fill: #FFF;
        /* // opacity: "0.08", */
    }
}

.ImageSliderBox {
    width: 41px;
    height: 39px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-shrink: 0;
    border-radius: 200px;
    background: #fff;
    background: url(../../../public/Image/MobileSlider.png), lightgray 50% / cover no-repeat;
    margin-left: 18px;
    margin-top: 16px;
}

.AbhiText {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 90px;
}

@media (max-width: 767px) {
    .AbhiText {
        color: #fff;
        text-align: left;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 12px;
        padding-top: 0px;
        padding: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .AbhiText {
        width: 100%;
        padding: 20px;
    }
}