.MainBoxFoure {
    padding-top: 105px;
    width: 100%;
    height: 750px;
    overflow: hidden;
    background: rgb(8, 8, 16);
}

@media (min-width: 991px) and (max-width: 1550px) {
    .MainBoxFoure {
        height: 650px;
    }
}

@media (max-width: 767px) {
    .MainBoxFoure {
        width: 100%;
        height: 260px;
        overflow: hidden;
        /* // border: 2px solid red; */
        padding-top: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .MainBoxFoure {
        width: 100%;
        padding: 20px;
    }
}

.SecondBoxFoure {
    /* // padding-top: 50px; */
    width: 100%;
    height: 100%;
    background: rgb(8, 8, 16);
    /* // border: 2px solid red; */
}


@media (min-width: 991px) and (max-width: 1550px) {
    .SecondBoxFoure {
        /* // border: 2px solid red; */
    }
}

@media (max-width: 767px) {
    .SecondBoxFoure {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .SecondBoxFoure {
        width: 100%;
        padding: 20px;
    }
}

.OurText {
    color: #f8f8fa;
    text-align: center;
    font-family: Inter;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    /* 100px */
}


@media (min-width: 991px) and (max-width: 1550px) {
    .OurText {
        color: #f8f8fa;
        text-align: center;
        font-family: Inter;
        font-size: 75px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        /* 100px */
    }
}

@media (max-width: 767px) {
    .OurText {
        color: #f8f8fa;
        text-align: center;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        z-index: 1;
        position: relative;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .OurText {
        width: 100%;
        padding: 20px;
    }
}

.HappyBox {
    width: 388.153px;
    height: 89.189px;
    transform: rotate(-7.107deg);
    margin: auto;
    padding-left: 96px;
    padding-top: 40px;
}

@media (max-width: 767px) {
    .HappyBox {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .HappyBox {
        width: 100%;
        padding: 20px;
    }
}


.HappyText {
    transform: rotate(-7.107deg);
    color: #ff8db9;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ImageArrowOneFoure {
    margin-top: -32px;
    margin-left: 243px;
    transform: rotate(-3.391deg);
}

.LightBox {
    width: 209px;
    height: 336px;
    position: absolute;
    margin-top: 172px;
    /* //   border: 1px solid green; */
    border-radius: 0px 763.077px 0px 0px;
    background: linear-gradient(221deg,
            rgba(38, 25, 60, 0.55) 12.2%,
            rgba(0, 0, 0, 0.01) 96.41%);
    backdrop-filter: blur(113.23077392578125px);

}

@media (min-width: 991px) and (max-width: 1550px) {
    .LightBox {
        margin-top: -42px;
    }
}

@media (max-width: 767px) {
    .LightBox {
        width: 150px;
        height: 220px;

        margin-top: 0px;
        border-radius: 0px 155px 0px 0px;
        border: 0px solid #beb0b0;
        background: linear-gradient(225deg,
                rgba(132, 219, 219, 0.55) -7.97%,
                rgba(101, 207, 144, 0) 96.37%);
        backdrop-filter: blur(23px);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .LightBox {
        width: 100%;
        padding: 20px;
    }
}

.LightBoxOne {
    width: 0px;
    height: 0px;
}


@media (max-width: 767px) {
    .LightBoxOne {
        width: 100.063px;
        height: 128.063px;
        transform: rotate(90.078deg);
        position: absolute;
        left: 6.999px;
        bottom: -14.161px;
        margin-left: 90px;
        border-radius: 2845.847px 0px 0px;
        background: var(--Linear,
                linear-gradient(142deg,
                    rgba(255, 253, 253, 0.36) -5.52%,
                    rgba(150, 253, 191, 0.8) -5.52%,
                    rgba(89, 143, 67, 0.8) 42.64%,
                    rgba(37, 41, 44, 0.8) 93.75%));
        backdrop-filter: blur(29.679811477661133px);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .LightBoxOne {
        width: 100%;
        padding: 20px;
    }
}

.MainLightBox {
    width: 100%;
    height: 355px;
    /* // border: 2px solid green; */
    position: absolute;
    right: 0;
}

@media (min-width: 991px) and (max-width: 1550px) {
    .MainLightBox {
        margin-top: -10px;
    }
}

.LightOneBox {
    width: 500.815px;
    height: 281.48px;
    /* // transform: rotate(89.07deg); */
    position: absolute;
    right: 0px;
    top: -39.115px;
    border-radius: 0px 0px 1009.564px 1009px;
    background: linear-gradient(221deg,
            #70771a 12.2%,
            rgba(0, 0, 0, 0.02) 96.41%);
    opacity: 0.6;
    backdrop-filter: blur(168.26072692871094px);

}


@media (min-width: 991px) and (max-width: 1550px) {
    .LightOneBox {
        width: 430.815px;
        top: -219.115px;
        height: 281.48px;
    }
}

@media (max-width: 767px) {
    .LightOneBox {
        width: 210.715px;
        height: 113.525px;
        transform: rotate(-1.04deg);
        position: absolute;
        overflow: hidden;
        right: 0.649px;
        top: -70.774px;
        border-radius: 0px 0px 205.068px 205px;
        background: linear-gradient(221deg, #54c29a -26.97%, #c27fd9 96.42%);
        backdrop-filter: blur(34.177955627441406px);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .LightOneBox {
        width: 100%;
        padding: 20px;
    }
}


.LightSecBox {
    width: 448.125px;
    height: 550.602px;
    top: -163.553px;
    position: absolute;
    right: 1px;
    top: -44.553px;

    border-radius: 1956.437px 0px 1px 0px;
    background: linear-gradient(221deg,
            rgba(91, 127, 70, 0.93) 12.2%,
            rgba(0, 0, 0, 0.02) 96.41%);
    backdrop-filter: blur(61.5384635925293px);
}


@media (min-width: 991px) and (max-width: 1550px) {
    .LightSecBox {
        width: 348.125px;
        height: 550.602px;
        top: -224.553px;
    }
}

@media (max-width: 767px) {
    .LightSecBox {
        width: 190.009px;
        height: 233.44px;
        -webkit-transform: rotate(7.922deg);
        -moz-transform: rotate(7.922deg);
        -ms-transform: rotate(7.922deg);
        transform: rotate(-0.078deg);
        position: absolute;
        right: 0.097px;
        top: -69.564px;
        border-radius: 9979.401px 0px 477.401px 0px;
        background: linear-gradient(221deg,
                rgba(139, 162, 241, 0.93) 12.2%,
                rgba(0, 0, 0, 0.02) 96.41%);
        backdrop-filter: blur(12.5px);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .LightSecBox {
        width: 100%;
        padding: 20px;
    }
}

/* marquee  css*/

.marquee {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    margin-top: 2%;
}

.marquee-image {
    display: inline-block;
    width: 8%;
    height: 160px;
    animation: marquee 2s linear infinite;
    margin: 15px;
}

@media (max-width: 767px) {
    .marquee-image {
        display: inline-block;
        width: 16%;
        height: 50px;
        animation: marquee 2s linear infinite;
        margin: 15px;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.ImageStyleFoure {
    width: 209.182px;
    height: 50.241px;
    background: rgb(211 211 211 / 0%) 50% / cover no-repeat;
}


.marqueeOne {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    margin-top: 3%;
  }
  
  .marquee-image-One {
    display: inline-block;
    width: 8%;
    height: 160px;
    animation: marqueeOne 2s linear infinite;
    margin: 15px;
  }

  @media (max-width: 767px) {
    .marquee-image-One {
        display: inline-block;
        width: 16%;
        height: 50px;
        animation: marqueeOne 2s linear infinite;
        margin: 15px;
      }
}
  
  @keyframes marqueeOne {
    0% {
      transform: translateX(-100%);
    }
  
    50% {
      transform: translateX(0%);
    }
  
    100% {
      transform: translateX(100%);
    }
  }
  