.autocomplete-results{
    position: absolute;
}

.autocomplete-suggestion{
    margin-left: 305px;
}

.suggestion:hover {
    background-color: #6d6b6b;
    color: #fffefe;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    border-radius: 224.589px;
}

.singer-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
}

@media (max-width: 767px) {
    .singer-image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
        margin-top: -10px;
    }
}

.singer-name {
    font-weight: bold;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .singer-name {
        font-weight: 500;
        margin-top: 0px;
        font-size: 12px;
    }
}


.singer-description {
    font-size: 5px;
    color: #f6eeee;
    margin-top: 5px;
}

@media (max-width: 767px) {
    .singer-description {
        font-size: 5px;
        color: #f6eeee;
        margin-top: 0px;
    }
}


.suggestion {
    width: 441px;
    background-color: rgb(36, 35, 35);
    padding: 10px;
    border: 1px solid #504e4e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: auto;
    border-radius: 224.589px;
}


@media (max-width: 767px) {
    .suggestion {
        position: relative;
        width: 269px;
        height: 70px;
        right: 241px;
        z-index: 3;
        background-color: rgb(36, 35, 35);
        padding: 10px;
        border: 1px solid #504e4e;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        /* margin: auto; */
        border-radius: 224.589px;
    }
}

.singer-info {
    display: flex;
    align-items: center;
}

.singer-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.singer-details {
    display: flex;
    flex-direction: column;
}

.singer-name {
    color: #f6eeee;
    font-size: 18px;
    font-weight: bold;
}

.singer-description {
    font-size: 14px;
    color: #bfbcbc;
}

.category-item-menu p {
    margin: 0 0 15px 0;
    font-size: 10px;
    font-weight: 600;
}



#text {
    height: opx;
    font-size: 0px;
    color: rgb(0, 0, 0);
    animation: animate 7s linear infinite;
  }
  
  @media (max-width: 767px) {
    #text {
      height: 134px;
      font-size: 12px;
      color: #FFF;
      animation: animate 7s linear infinite;
    }
  }
  
  @media (max-width: 767px) {
    @keyframes animate {
      from {
        transform: rotate(0deg);
      }
  
      to {
        transform: rotate(360deg);
      }
    }
  }
  
  @media (max-width: 767px) {
    span {
      position: absolute;
      transform-origin: 0 67px;
  
    }
  }