#textLine {
    height: 240px;
    font-size: 16px;
    margin-top: 32px;
    margin-left:  28px;
   /* padding: auto;
   margin: auto; */
    color:  #FFFFFF;
    ;
    animation: animate 7s linear infinite;
  }
  
  @media (max-width: 767px) {
    #textLine {
      height: 134px;
      font-size: 12px;
      color: #FFF;
      animation: animate 7s linear infinite;
    }
  }

  @keyframes animate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
  
  @media (max-width: 767px) {
    @keyframes animate {
      from {
        transform: rotate(0deg);
      }
  
      to {
        transform: rotate(360deg);
      }
    }
  }

  span {
    position: absolute;
    transform-origin: 0 120px;

  }
  
  @media (max-width: 767px) {
    span {
      position: absolute;
      transform-origin: 0 67px;
  
    }
  }
  
  .slider-container {
    position: relative;
    width: 100%;
    
  }

  .video-container {
    position: relative;
    width: 534px;
    height: 812px;
    border-radius: 0px 195px;
    overflow: hidden;
    display: grid;
    place-items: center;
  }
  
  
  @media (min-width: 991px) and (max-width: 1550px) {
    .video-container {
      position: relative;
      width: 460px;
      height: 668.75px;
      border-radius: 0px 195px;
      overflow: hidden;
      display: grid;
      place-items: center;
  
    }
  }
  
  
  @media (max-width: 767px) {
    span {
      position: absolute;
      transform-origin: 0 67px;
  
    }
  }
  
  @media (max-width: 767px) {
    .video-container {
      width: 270.738px;
      height: 500.201px;
      margin: auto;
      margin-top: 0px;
      border-radius: 38.508px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .video-container {
      width: 100%;
      padding: 20px;
    }
  
  }
  
  .video-container img.thumbnail-image {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .button-container {
    text-align: center;
    margin-top: 10px;
  }
  
  @media (max-width: 767px) {
    .button-container {
      display: none;
    }
  }
  
  .play-pause-button {
    background-color: #0073e6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .play-pause-button:hover {
    background-color: #005bb7;
  }
  
  #text {
    height: opx;
    font-size: 0px;
    color: rgb(0, 0, 0);
    animation: animate 7s linear infinite;
  }
  
  @media (max-width: 767px) {
    #text {
      height: 134px;
      font-size: 12px;
      color: #FFF;
      animation: animate 7s linear infinite;
    }
  }
  
  @media (max-width: 767px) {
    @keyframes animate {
      from {
        transform: rotate(0deg);
      }
  
      to {
        transform: rotate(360deg);
      }
    }
  }
  
  @media (max-width: 767px) {
    span {
      position: absolute;
      transform-origin: 0 67px;
  
    }
  }
  
  .slider-container {
    position: relative;
    width: 100%;
  
  }
  
  .prev-btn,
  .next-btn {
    width: 76px;
    height: 76px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  
    border: none;
    cursor: pointer;
  }
  
  .next-btn {
    right: -20px;
  }
  
  .prev-btn {
    left: -35px;
  }
  
  .thumbnail-image {
 
    width: 100%; /* or any other desired width */
    height: auto; /* This ensures the aspect ratio is maintained */
  }