.MainBoxCateOne {
    width: 100%;
    height: 100%;
    background: rgb(8, 8, 16);
    padding-top: 90px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .MainBoxCateOne {
        width: 100%;
        height: 100%;
        /* // border: 2px solid red; */
        padding-top: 1px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .MainBoxCateOne {
        width: 100%;
        padding: 20px;
    }
}

.homepage-childCateOne,
.homepage-itemCateOne {
  position: absolute;
  overflow: hidden;
}

.homepage-childCateOne {
  top: 326.28px;
  left: -173.81px;
  border-radius: 0 1367.68px 0 0;
  background: linear-gradient(210.34deg,
      rgba(255, 135, 97, 0.25) 12.31%,
      transparent);
  backdrop-filter: blur(455.89px);
  width: 530px;
  height: 636.69px;
}

@media (max-width: 767px) {
  .homepage-childCateOne {
  display: none;
  }
}

.homepage-itemCateOne {
  top: 145px;
  left: calc(50% - 501px);
  border-radius: var(--br-721xl) var(--br-721xl) 0 0;
  width: 1019px;
  height: 941px;
  display: none;
}





.comedians-parentCateOne {
  position: absolute;
  top: 240.05px;
  left: 14.62px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.58px;
}





















.frame-groupCateOne {
  position: absolute;
  top: 289.61px;
  left: 28.15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16.66px;
  font-size: 37.48px;
}

.frame-parentCateOne,
.homepage-inner {
  position: absolute;
  width: 300.43px;
  height: 444.89px;
  transform: rotate(16.02deg);
  transform-origin: 0 0;
}

.frame-parentCateOne {
  top: 330px;
  left: calc(69% - 150.22px);
  border-radius: 12.02px;
  background-image: url(../../../public/Image/ArtistOne.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}







.frame-divCateOne,
.group-divCateOne {
  position: absolute;
  width: 300.43px;
  height: 444.89px;
  transform: rotate(-18.55deg);
  transform-origin: 0 0;
}

@media (max-width: 767px) {

  .frame-divCateOne,
  .group-divCateOne {
    position: absolute;
    width: 200.43px;
    height: 344.89px;
    transform: rotate(-18.55deg);
    transform-origin: 0 0;
  }
}

.frame-divCateOne {
  top: 0;
  left: calc(50% - 150.22px);
  border-radius: 12.02px;
  background-image: url(../../../public/Image/SecOne.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

@media (max-width: 767px) {
  .frame-divCateOne {
    top: -100px;
    left: calc(50% - 150.22px);
    border-radius: 12.02px;
    background-image: url(../../../public/Image/SecOne.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
}




.group-divCateOne {
  top: 513.88px;
  left: calc(50% - 478.81px);
  box-shadow: 15.271113395690918px 22.212528228759766px 45.81px rgba(255, 255, 255, 0.3) inset;
  opacity: 0.9;
}




.homepage-child1CateOne {
  position: absolute;
  top: 173.28px;
  left: 1549.19px;
  border-radius: 864.79px 864.79px 864.79px 0;
  background: linear-gradient(210.34deg, rgba(255, 129, 227, 0.7), transparent);
  backdrop-filter: blur(288.26px);
  width: 614px;
  height: 614px;
  overflow: hidden;
}


.comedians-parent1CateOne {
  position: absolute;
  top: 345.82px;
  left: 21.06px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5.16px;
}




























.frame-parent4CateOne {
  position: absolute;
  top: 417.22px;
  left: 40.56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  font-size: 54px;
}

.frame-parent3CateOne,
.homepage-inner1CateOne {
  position: absolute;
  width: 432.81px;
  height: 640.93px;
}

.frame-parent3CateOne {
  top: 0;
  left: calc(50% - 216.41px);
  border-radius: 17.31px;
  background-image: url(../../../public/Image/sliderzakir.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

@media (max-width: 767px) {
  .frame-parent3CateOne {
    top: -0px;
    left: calc(50% - 216.41px);
    border-radius: 17.31px;
    background-image: url(../../../public/Image/sliderzakir.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
}

.homepage-inner1CateOne {
  top: 320.17px;
  left: calc(50% - 214.04px);
  box-shadow: 22px 32px 66px rgba(255, 255, 255, 0.3) inset;
  font-size: 20.62px;
}

.rectangle-divCateOne {
  position: absolute;
  top: 127.28px;
  left: calc(50% - 982.81px);
  background: linear-gradient(179.31deg,
      rgba(6, 6, 12, 0.19),
      rgba(6, 6, 12, 0.99) 55.61%);
  width: 1944px;
  height: 1137px;
}

@media (max-width: 767px) {
  .rectangle-divCateOne {
    position: absolute;
    top: 127.28px;
    left: calc(50% - 982.81px);
    background: linear-gradient(179.31deg,
        rgba(6, 6, 12, 0.19),
        rgba(6, 6, 12, 0.99) 55.61%);
    width: 100%;
    height: 1137px;
  }
}






.explore-our-top-containerCateOne {
  position: absolute;
  top: 828.28px;
  left: calc(50% - 506.81px);
  font-size: 80px;
  text-align: center;
  display: inline-block;
  width: 1001.91px;
}

@media (max-width: 767px) {
  .explore-our-top-containerCateOne {
    position: absolute;
    top: 787.28px;
    left: calc(132% - 506.81px);
    font-size: 20px;
    text-align: center;
    display: inline-block;
    width: 90%;
    padding-top: 17px;
    height: 60px;
    border-radius:100px;
    background: linear-gradient(
      142.16deg,
      rgba(255, 253, 253, 0.36),
      rgba(150, 253, 191, 0.8),
      rgba(89, 143, 67, 0.8) 48.23%,
      rgba(37, 41, 44, 0.8) 99.42%
    );
    backdrop-filter: blur(69px);
  }
}

.homepageCateOne {
  position: relative;
  background-color: #080810;
  width: 100%;
  height: 1157px;
  overflow: hidden;
  text-align: left;
  font-size: 14.32px;
  color: var(--color-white);
  font-family: var(--font-inter);
  margin-top: -200px;
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .homepageCateOne {
    position: relative;
    background-color: #080810;
    width: 100%;
    height: 1057px;
    overflow: hidden;
    text-align: left;
    font-size: 14.32px;
    color: var(--color-white);
    font-family: var(--font-inter);
    margin-top: -200px;
  }
}

@media (max-width: 767px) {
  .homepageCateOne {
    position: relative;
    background-color: #080810;
    width: 100%;
    height: 900px;
    overflow: hidden;
    text-align: left;
    font-size: 14.32px;
    color: var(--color-white);
    font-family: var(--font-inter);
    margin-top: -200px;
  }
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-2xs-2: 10.2px;
  --font-size-xl-6: 20.6px;
  --font-size-mini: 15px;
  --font-size-smi-5: 12.5px;
  --font-size-18xl-5: 37.5px;
  --font-size-5xs-1: 7.1px;
  --font-size-lgi-4: 19.4px;
  --font-size-mini-3: 14.3px;
  --font-size-9xl-6: 28.6px;

  /* Colors */
  --color-gray-100: rgba(255, 255, 255, 0.3);
  --color-white: #fff;

  /* Gaps */
  --gap-base-7: 16.7px;
  --gap-7xs-6: 5.6px;
  --gap-9xs-6: 3.6px;

  /* Paddings */
  --padding-8xs: 5px;
  --padding-xl: 20px;
  --padding-5xs-2: 7.2px;
  --padding-mini-3: 14.3px;

  /* Border radiuses */
  --br-845xl-8: 864.8px;
  --br-xs: 12px;
  --br-lgi-4: 19.4px;
  --br-10xs-8: 2.8px;
  --br-2xl-5: 21.5px;
  --br-721xl: 740px;
}


/* second component */



















.frame-child5CateTwo,
.frame-child6CateTwo {
  position: relative;
  border-radius: var(--br-10xl);
  object-fit: cover;
}

.frame-child5CateTwo {
  width: 380.67px;
  height: 810.62px;
}

@media (max-width: 767px) {
  .frame-child5CateTwo {
    width: 380.67px;
    height: 810.62px;
    margin: auto;
  }
}

.frame-child6CateTwo {
  align-self: stretch;
  max-width: 460.67px;
  overflow: hidden;
  height: 389.29px;
  flex-shrink: 0;
}

@media (max-width: 767px) {
  .frame-child6CateTwo {
    align-self: stretch;
    max-width: 282.67px;
    overflow: hidden;
    height: 389.29px;
    flex-shrink: 0;
    margin: auto;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .frame-child6CateTwo {
    align-self: stretch;
    width: 80%;
    overflow: hidden;
    height: 389.29px;
    flex-shrink: 0;

  }
}

@media (max-width: 767px) {

    .frame-child6CateTwo {
      align-self: stretch;
      width: 100%;
      overflow: hidden;
      height: 389.29px;
      flex-shrink: 0;
      margin: auto;
    }

}

.rectangle-parent2CateTwo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);

}

@media (max-width: 767px) {

  .rectangle-parent2CateTwo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
  margin: auto;
  }

}

.cateegoryName{
  font-size: 28px;
  padding-top: 10px;
}


@media (max-width: 767px) {
  .cateegoryName{
    font-size: 18px;
  }
}


@media (min-width: 1200px) and (max-width: 1500px) {
  .frame-parent7CateTwo {
    flex: 1;
    flex-direction: row;
    gap: var(--gap-13xl);
    margin: auto;
    width: 100%;
  }
}

.frame-parent2CateTwo,
.frame-parent7CateTwo,
.frame-wrapper1CateTwo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

.frame-wrapper1CateTwo {
  align-self: stretch;
  flex-direction: row;
  margin: auto;

}


@media (max-width: 767px) {
  .frame-wrapper1CateTwo {
    align-self: stretch;
    flex-direction: row;
    margin: 0px;
  
  }
}



.frame-parent2CateTwo {
  flex-direction: column;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: 48px;
  width: 100%;
  margin: 40px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .frame-parent2CateTwo {
    flex-direction: column;
    /* gap: var(--gap-13xl); */
    text-align: left;
    font-size: 48px;
    width: 100%;
    margin: 40px;
    overflow: hidden;
  }
}


@media (min-width: 1200px) and (max-width: 1500px) {
  .frame-parent2CateTwo {
    flex-direction: column;
    gap: var(--gap-13xl);
    text-align: left;
    font-size: 48px;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
}

.frame-groupCateTwo {
  gap: 80px;
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .frame-groupCateTwo {
    gap: 20px;
  }
}


.OnTheMainLine{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 80px;
  padding: 10px;
  height: 100%;
}

@media (max-width: 767px) {
  .OnTheMainLine {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    padding-top: -68px;
  
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .OnTheMainLine {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 120%;
    margin: auto;
    padding-top: 68px;
    overflow: hidden;
  }
}



.frame-groupCateTwo,
.frame-parentCateTwo,
.frame-wrapperCateTwo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* padding: 18px; */
  margin: auto;
  overflow: hidden;
}

.frame-parentCateTwo {
  position: relative;
  width: 80%;
  text-align: center;
  font-size: 64px;
  color: var(--color-white);
  font-family: var(--font-inter);

}


:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;

  /* Gaps */
  --gap-13xl: 32px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-29xl: 48px;

  /* Border radiuses */
  --br-10xl: 29px;
  --br-81xl: 100px;
}




/* mobile version */



/* loader code */
.lds-spinner {
  color: official;
  margin: auto;
  width: 140px;
  height: 140px;
  padding: 100px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: var(--new-bright, linear-gradient(133deg, rgba(255, 253, 253, 0.36) -5.44%, rgba(255, 227, 226, 0.80) -5.44%, rgba(241, 102, 51, 0.80) 26.17%, rgba(253, 45, 125, 0.80) 64.16%, rgba(21, 18, 18, 0.80) 101.18%));
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}