.all-categoriesFromOne {
    flex: 1;
    position: relative;
}

.cancel-selectionFromOne {
    position: relative;
    font-size: var(--font-size-lg);
    color: var(--color-white);
    text-align: right;
}

.all-categories-comedians-z-parentFromOne {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.frame-wrapperFromOne {
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 60px 120px;
    box-sizing: border-box;
}

.zakir-khan-1FromOne {
    position: relative;
    border-radius: 93px;
    width: 459px;
    height: 731.61px;
    object-fit: cover;
}

@media (min-width: 1000px) and (max-width: 1510px) {
    .zakir-khan-1FromOne {
        position: relative;
        border-radius: 93px;
        width: 100%;
        height: 631.61px;
        object-fit: cover;
    }
}

.component-29FromOne,
.zakir-khan-1-wrapperFromOne {
    border-radius: 44px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.component-29FromOne {
    position: absolute;
    top: 56px;
    left: 56px;
    border-radius: 166px;
    width: 459px;
    flex-direction: column;
    align-items: center;
}

.woohoo-you-madeFromOne {
    position: relative;
    font-weight: 600;
}

.just-a-stepFromOne {
    position: relative;
    font-size: var(--font-size-lg);
    color: var(--color-gray-100);
}

.woohoo-you-made-a-great-choic-parentFromOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}



@media (min-width: 991px) and (max-width: 1550px) {
    .woohoo-you-made-a-great-choic-parentFromOne {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        /* border: 1px solid red; */
        position: relative;
        left: -240px;
    }
}


.event-detailsFromOne {
    position: relative;
    opacity: 0.85;
}

.personal-detailsFromOne {
    position: relative;
    opacity: 0.4;
}

.event-details-parentFromOne {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 389px;
}

.frame-childFromOne {
    position: relative;
    width: 1028px;
    height: 68px;
}

.frame-divFromOne {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 18px;
}

.whats-the-occasionFromOne {
    position: relative;
    opacity: 0.9;
}

.select-the-typeFromOne {
    position: relative;
}

.frame-wrapper2FromOne,
.select-the-type-wrapperFromOne {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.frame-wrapper2FromOne {
    align-self: stretch;
    border-radius: var(--br-base);
    background-color: var(--color-gray-300);
    backdrop-filter: blur(16.97px);
    overflow: hidden;
    padding: var(--padding-5xl) var(--padding-29xl);
    font-size: var(--font-size-5xl);
    color: var(--color-gray-200);
}

.frame-wrapper1FromOne,
.frame-wrapper4FromOne,
.whats-the-occasion-parentFromOne {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.whats-the-occasion-parentFromOne {
    align-self: stretch;
    gap: var(--gap-base);
    opacity: 0.8;
}

.frame-wrapper1FromOne,
.frame-wrapper4FromOne {
    width: 450.5px;
    /* border: 1px solid red; */
}


@media (min-width: 991px) and (max-width: 1550px) {
    .frame-wrapper1FromOne,
    .frame-wrapper4FromOne {
        width: 280.5px;
        /* border: 1px solid red; */
    }
}


.frame-wrapper4FromOne {
    border-radius: var(--br-base);
    background-color: var(--color-gray-300);
    backdrop-filter: blur(16.97px);
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-5xl) var(--padding-29xl);
    box-sizing: border-box;
    font-size: var(--font-size-5xl);
    color: var(--color-gray-200);
}


@media (min-width: 1300px) and (max-width: 1510px) {
    .frame-wrapper4FromOne {
        border-radius: var(--br-base);
        background-color: var(--color-gray-300);
        backdrop-filter: blur(16.97px);
        overflow: hidden;
        flex-direction: row;
        align-items: center;
        padding: var(--padding-5xl) var(--padding-29xl);
        box-sizing: border-box;
        font-size: 18px;
        color: var(--color-gray-200);
        width: 232px;
        height: 65px;
    }
}

.frame-parent2FromOne,
.frame-wrapper3FromOne {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.frame-parent2FromOne {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-13xl);
}

.frame-wrapper6FromOne {
    align-self: stretch;
    border-radius: var(--br-base);
    background-color: var(--color-gray-300);
    backdrop-filter: blur(16.97px);
    overflow: hidden;
    align-items: center;
    padding: var(--padding-9xl) var(--padding-29xl);
    font-size: 18px;
    color: var(--color-gray-200);
}

.frame-wrapper6FromOne,
.frame-wrapper8FromOne,
.frame-wrapper9 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.frame-wrapper8FromOne {
    border-radius: var(--br-base);
    background-color: var(--color-gray-300);
    backdrop-filter: blur(16.97px);
    width: 450.5px;
    overflow: hidden;
    align-items: center;
    padding: var(--padding-9xl) var(--padding-29xl);
    box-sizing: border-box;
    font-size: 18px;
    color: var(--color-gray-200);
}

@media (min-width: 1300px) and (max-width: 1510px) {
    .frame-wrapper8FromOne {
        border-radius: var(--br-base);
        background-color: var(--color-gray-300);
        backdrop-filter: blur(16.97px);
        width: 235.5px;
        overflow: hidden;
        align-items: center;
        padding: var(--padding-9xl) var(--padding-29xl);
        box-sizing: border-box;
        font-size: 18px;
        color: var(--color-gray-200);
       
    }
}

.frame-wrapper9FromOne {
    align-self: stretch;
    align-items: flex-start;
}



.frame-parent1FromOne {
    width: 1053px;
    align-items: flex-start;
    gap: var(--gap-13xl);
    font-size: var(--font-size-lg);
}

.frame-containerFromOne,
.frame-groupFromOne,
.frame-parent1FromOne {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.frame-containerFromOne {
    align-items: flex-start;
    gap: 64px;
    font-size: var(--font-size-base);
    color: var(--color-white);
}

.frame-groupFromOne {
    position: absolute;
    top: 56px;
    left: 578px;
    align-items: center;
    gap: 100px;
}


@media (min-width: 991px) and (max-width: 1550px) {
    .frame-groupFromOne {
        position: absolute;
        top: 56px;
        left: 578px;
        align-items: center;
        gap: 100px;
    }
}

.next-stepFromOne {
    position: absolute;
    top: 710px;
    left: 1390px;
    font-size: var(--font-size-lg);
    font-weight: 600;
    background: linear-gradient(132.67deg,
            rgba(255, 253, 253, 0.36),
            rgba(255, 227, 226, 0.8),
            rgba(241, 102, 51, 0.8) 29.48%,
            rgba(253, 45, 125, 0.8) 64.9%,
            rgba(21, 18, 18, 0.8) 99.42%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
}

@media (min-width: 1300px) and (max-width: 1510px) {
    .next-stepFromOne {
        position: absolute;
        top: 618px;
        left: 952px;
        font-size: var(--font-size-lg);
        font-weight: 600;
        background: linear-gradient(132.67deg,
                rgba(255, 253, 253, 0.36),
                rgba(255, 227, 226, 0.8),
                rgba(241, 102, 51, 0.8) 29.48%,
                rgba(253, 45, 125, 0.8) 64.9%,
                rgba(21, 18, 18, 0.8) 99.42%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: right;
    }
}

.component-29-parentFromOne {
    position: relative;
    border-radius: 100px;
    background: linear-gradient(178.8deg, #141429, transparent);
    box-shadow: 0 14px 41px rgba(0, 0, 0, 0.6) inset;
    width: 100%;
    height: 866.68px;
    font-size: 32px;
    color: rgba(255, 253, 253, 0.8);
}

.frame-parentFromOne {
    position: relative;
    width: 85%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-gray-100);
    font-family: var(--font-inter);
    margin: auto;
}


:root {
    /* fonts */
    --font-inter: Inter;

    /* font sizes */
    --font-size-lg: 18px;
    --font-size-5xl: 24px;
    --font-size-base: 16px;

    /* Colors */
    --color-gray-100: rgba(255, 255, 255, 0.5);
    --color-gray-200: rgba(255, 255, 255, 0.58);
    --color-gray-300: rgba(255, 255, 255, 0.04);
    --color-white: #fff;

    /* Gaps */
    --gap-13xl: 32px;
    --gap-base: 16px;

    /* Paddings */
    --padding-9xl: 28px;
    --padding-29xl: 48px;
    --padding-5xl: 24px;

    /* Border radiuses */
    --br-base: 16px;
}


.frame-wrapper1FromOneLine {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    z-index: 1;

}


.custom-dropdown {
    position: relative;
    width: 350px;
    border-radius: var(--br-base);
    background-color: var(--color-gray-300);

    padding: var(--padding-5xl) var(--padding-29xl);
    font-size: var(--font-size-5xl);
    color: white;
}

@media (min-width: 991px) and (max-width: 1550px) {
    .custom-dropdown {
        position: relative;
        width: 180px;
        border-radius: var(--br-base);
        background-color: var(--color-gray-300);
    
        padding: var(--padding-5xl) var(--padding-29xl);
        font-size: var(--font-size-5xl);
        color: white;
    }
}

.dropdown-button {
    cursor: pointer;
    display: flex;
    justify-content: space-between;


}

.dropdown-button.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}

.dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: var(--br-base);
    background-color: rebeccapurple;

    border-top: 0;
    display: none;
    color: var(--color-gray-200);
    z-index: 2;
}

.dropdown-list.open {
    display: block;
}

.dropdown-list li {
    padding: 10px;
    cursor: pointer;
    color: white;
}

.dropdown-list li:hover {
    border-radius: var(--br-base);
    background-color: #983e3e;
}



/* city code */
.input-container {
    position: relative;
  }
  
  .suggestionsPyr {
    position: absolute;
    top: 61%;
    left: 485px;
    width: 42.5%;
    max-height: 150px;
    overflow-y: auto;
    background-color: rgb(1, 46, 66);
    /* border: 1px solid #ccc; */
    z-index: 2;
    border-radius: 5px;
  }
  
  @media (min-width: 1300px) and (max-width: 1510px) {
    .suggestionsPyr {
      position: absolute;
      top: 62%;
      left: 265px;
      width: 22%;
      max-height: 150px;
      overflow-y: auto;
      background-color: rgb(1, 46, 66);
      /* border: 1px solid #ccc; */
      z-index: 2;
      border-radius: 5px;
    }
  }
  
  .suggestionsPyr ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .suggestionsPyr li {
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestionsPyr li:hover {
    background-color: #da9f9f;
    color: rgb(0, 0, 0);
  }
  
  
  /* mobile view */
  
  .suggestionsMobilePyr {
    position: absolute;
    top: 75%;
    left: 0px;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background-color: rgb(1, 46, 66);
    /* border: 1px solid #000000; */
    z-index: 2;
    border-radius: 5px;
  }
  
  .suggestionsMobilePyr ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .suggestionsMobilePyr li {
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestionsMobilePyr li:hover {
    background-color: #b43a3a;
    color: white;
  }